@import '../../../../scss/variables';
@import '../../../../scss/mixins/filter';

.wanted-item-container {
  .row {
    margin-bottom: 0.5rem;
  }

  .wanted-item-label {
    // font-weight: $font-bold;
  }

  .wanted-item-value {
    // font-style: italic;
  }
}

.dropdown {
  .dropdown-menu {
    white-space: nowrap;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}

.subtitle-preview {
  position: relative;

  .subtitle-preview-icon {
    position: absolute;
    top: 0rem;
    right: 2rem;
  }

  .subtitle-preview-content {
    height: 6.25rem;
    overflow-y: scroll;
    word-break: normal;
    white-space: nowrap;
  }
}

.subtitle-action {
  text-align: center !important;

  @media screen and (max-width: $media-mobile-max-width) {
    text-align: left !important;
  }

  .disabled {
    pointer-events: none;
    @include filter(brightness(50%));
  }
}

// Allow dropdown overflow within table
::ng-deep.p-datatable-auto-layout>.p-datatable-wrapper {
  overflow-x: visible !important;
}
