<div class="container-lg">
  <p-panel header="Subliminal settings">
    <form *ngIf="settingsForm" [formGroup]="settingsForm" class="form">
      <!-- Warning notification -->
      <div class="row form-row">
        <div class="col-12 form-row-notification">
          <p-message severity="warn" text="Passwords and keys are stored in plain text!" styleClass="w-100"></p-message>
        </div>
      </div>
      <!-- General settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">General</span>
        </div>
      </div>
      <!-- Show min match score -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label class="label">Show MinMatchScore</label>
          <app-icon-dropdown>
            <li>The items that must match before a show subtitle is downloaded.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 form-row-switches">
          <app-input-switch formControlName="showMatchSource" label="Source"></app-input-switch>
          <app-input-switch formControlName="showMatchQuality" label="Quality"></app-input-switch>
          <app-input-switch formControlName="showMatchCodec" label="Codec"></app-input-switch>
          <app-input-switch formControlName="showMatchReleaseGroup" label="Group"></app-input-switch>
        </div>
      </div>
      <!-- Movie min match score -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label class="label">Movie MinMatchScore</label>
          <app-icon-dropdown>
            <li>The items that must match before a movie subtitle is downloaded.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 form-row-switches">
          <app-input-switch formControlName="movieMatchSource" label="Source"></app-input-switch>
          <app-input-switch formControlName="movieMatchQuality" label="Quality"></app-input-switch>
          <app-input-switch formControlName="movieMatchCodec" label="Codec"></app-input-switch>
          <app-input-switch formControlName="movieMatchReleaseGroup" label="Group"></app-input-switch>
        </div>
      </div>
      <!-- Movie min match score -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label class="label">Providers</label>
          <app-icon-dropdown>
            <li>The subliminal providers that must be used for searching and downloading subtitles.</li>
            <li>Multiple providers can be selected (use ctrl key).</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 form-row-label">
          <p-listbox formControlName="subliminalProviders" [options]="subliminalProviders" [multiple]="true"></p-listbox>
        </div>
      </div>
      <!-- Subtitle utf8 encoding -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="subtitleUtf8Encoding" class="label">Subtitles in utf-8 encoding</label>
          <app-icon-dropdown>
            <li>When enabled, all subtitles will be saved in utf-8 encoding.</li>
            <li>When disabled, the original encoding of the subtitle is used.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="subtitleUtf8Encoding" [options]="enabledOrDisabled" [validationFeedback]="saveAttempt"></app-input-dropdown>
        </div>
      </div>
      <!-- Refine video -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="refineVideo" class="label">Refine video</label>
          <app-icon-dropdown>
            <li>When enabled, subliminal will enable 'refiners' to enrich the video meta-data before searching for subtitles.</li>
            <li>This can result in a higher score matching and thus a higher automatic subtitle download.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="refineVideo" [options]="enabledOrDisabled" [validationFeedback]="saveAttempt"></app-input-dropdown>
        </div>
      </div>
      <!-- Refine video - omdb refiner apikey -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="omdbApiKey" class="label">OMDB refiner API key</label>
          <app-icon-dropdown>
            <li>The API key for the OMDB refiner.</li>
            <li>Required if you want to use the OMDB refiner.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="omdbApiKey" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Manual refine video -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="manualRefineVideo" class="label">Refine video manually</label>
          <app-icon-dropdown>
            <li>When enabled, you will be able to edit the video meta-data before searching for subtitles.</li>
            <li>An edit icon will appear next to the show/movie name to edit the show/movie details.</li>
            <li>This only affects a manual search temporarily until the next disk scan.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="manualRefineVideo" [options]="enabledOrDisabled" [validationFeedback]="saveAttempt"></app-input-dropdown>
        </div>
      </div>
      <!-- Prefer hearing impaired -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="preferHearingImpaired" class="label">Prefer hearing impaired subs</label>
          <app-icon-dropdown>
            <li>When enabled, 'hearing impaired' subtitles will be preferred over 'regular' subtitles.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="preferHearingImpaired" [options]="enabledOrDisabled" [validationFeedback]="saveAttempt"></app-input-dropdown>
        </div>
      </div>
      <!-- Anti-captcha settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">Anti-captcha</span>
        </div>
      </div>
      <!-- Anti-Captcha class -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="antiCaptchaClass" class="label">Anti-captcha service</label>
          <app-icon-dropdown>
            <li>The anti-captcha service.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="antiCaptchaClass" [options]="antiCaptchaProviders" [validationFeedback]="saveAttempt"></app-input-dropdown>
        </div>
      </div>
      <!-- Anti-Captcha client key -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="antiCaptchaClientKey" class="label">Anti-captcha client key</label>
          <app-icon-dropdown>
            <li>The anti-captcha client key.</li>
            <li>anti-captcha.com: account_key</li>
            <li>deathbycaptcha.com: username:password</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="antiCaptchaClientKey" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Addic7ed provider settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">Addic7ed provider</span>
        </div>
      </div>
      <!-- Addic7ed username -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="addic7edUserName" class="label">Username</label>
          <app-icon-dropdown>
            <li>The username for your Addic7ed account.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="addic7edUserName" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Addic7ed password -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="addic7edPassword" class="label">Password</label>
          <app-icon-dropdown>
            <li>The password for your Addic7ed account.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="addic7edPassword" type="password" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Addic7ed userid -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="addic7edUserId" class="label">UserId</label>
          <app-icon-dropdown>
            <li>The user id for your Addic7ed account.</li>
            <li> It can be found in the url when you visit the details of your user in the profile page of your account.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="addic7edUserId" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- OpenSubtitles provider settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">OpenSubtitles provider</span>
        </div>
      </div>
      <!-- OpenSubtitles username -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="opensubtitlesUserName" class="label">Username</label>
          <app-icon-dropdown>
            <li>The username for your OpenSubtitles account.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="opensubtitlesUserName" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- OpenSubtitles password -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="opensubtitlesPassword" class="label">Password</label>
          <app-icon-dropdown>
            <li>The password for your OpenSubtitles account.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="opensubtitlesPassword" type="password" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- OpenSubtitles apikey -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="opensubtitlesApiKey" class="label">API key</label>
          <app-icon-dropdown>
            <li>The API key for your OpenSubtitles account.</li>
            <li>Required for OpenSubtitles.com provider.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="opensubtitlesApiKey" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Legendas.TV provider settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">Legendas.TV provider</span>
        </div>
      </div>
      <!-- Legendas.TV username -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="legendastvUserName" class="label">Username</label>
          <app-icon-dropdown>
            <li>The username for your Legendas.TV account.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="legendastvUserName" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Legendas.TV password -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="legendastvPassword" class="label">Password</label>
          <app-icon-dropdown>
            <li>The password for your Legendas.TV account.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="legendastvPassword" type="password" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Button -->
      <div class="row button-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
          <p-button label="Save" (onClick)="save()"></p-button>
        </div>
      </div>
    </form>
  </p-panel>
</div>
