<!-- Subtitle sync dialog -->
<p-dialog [(visible)]="visible"
          [modal]="true"
          [closable]="false"
          [resizable]="false"
          header="Synchronize subtitle"
          styleClass="dialog-subtitle-sync">
  <!-- Details -->
  <div class="subtitle-sync-container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2">
        <span class="subtitle-sync-label">Video:</span>
      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-10">
        <span class="subtitle-sync-value">{{videoName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2">
        <span class="subtitle-sync-label">Subtitle:</span>
      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-10">
        <span class="subtitle-sync-value">{{subtitleName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2">
        <span class="subtitle-sync-label">Reference subtitle:</span>
      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-10">
        <div class="subtitle-upload">
          <div class="p-inputgroup">
            <input type="text" pInputText [(ngModel)]="referenceSubtitle">
            <p-fileUpload *ngIf="!referenceSubtitle" mode="basic" chooseIcon="pi pi-upload" [auto]="true" [customUpload]="true" (uploadHandler)="uploadReferenceSubtitle($event)"></p-fileUpload>
            <p-button *ngIf="referenceSubtitle" icon="pi pi-times" styleClass="p-button" (onClick)="removeReferenceSubtitle()"></p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="subtitleSyncResult">
      <p-panel>
        <ng-template pTemplate="header">
          <div class="w-100">
            <div class="p-panel-title">Synchronization successful</div>
            <div>
              <a class="icon-link" [href]="getPlayVideoUrl()">
                <i class="fa fa-2x fa-play-circle-o" aria-hidden="true" title="Click to play video"></i>
              </a>
            </div>
          </div>
        </ng-template>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-5 col-lg-4">
            <span class="subtitle-sync-label">Synchronized subtitle:</span>
          </div>
          <div class="col-12 col-sm-12 col-md-7 col-lg-8">
            <span class="subtitle-sync-value">{{getSyncedSubtitleName(subtitleSyncResult.syncedSubtitlePath)}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-5 col-lg-4">
            <span class="subtitle-sync-label">Offset in seconds:</span>
          </div>
          <div class="col-6 col-sm-6 col-md-7 col-lg-8">
            <span class="subtitle-sync-value">{{subtitleSyncResult.offsetInSeconds}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-5 col-lg-4">
            <span class="subtitle-sync-label">Frame rate scale factor:</span>
          </div>
          <div class="col-6 col-sm-6 col-md-7 col-lg-8">
            <span class="subtitle-sync-value">{{subtitleSyncResult.framerateScaleFactor}}</span>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="row">
            <div class="col-12 save-warning">
              <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
              <span class="label">The original subtitle will be replaced by the synchronized subtitle on save!</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 backup-toggle">
              <span class="label">Backup original subtitle on save</span>
              <p-inputSwitch [(ngModel)]="backupOnSave"></p-inputSwitch>
            </div>
          </div>
        </ng-template>
      </p-panel>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" label="Cancel" styleClass="p-button p-button-secondary" (click)="close()" [disabled]="syncInProgress"></p-button>
    <p-button *ngIf="!subtitleSyncResult && !syncInProgress" icon="pi pi-sync" label="Synchronize" styleClass="p-button mr-0" (click)="syncSubtitle()"></p-button>
    <p-button *ngIf="!subtitleSyncResult && syncInProgress" icon="pi pi-sync pi-spin" label="Synchronizing..." styleClass="p-button mr-0" [disabled]="true"></p-button>
    <p-button *ngIf="subtitleSyncResult" icon="pi pi-undo" label="Reset" styleClass="p-button" (click)="resetSubtitle()"></p-button>
    <p-button *ngIf="subtitleSyncResult" icon="pi pi-check" label="Save" styleClass="p-button mr-0" (click)="saveSubtitle()"></p-button>
  </ng-template>
</p-dialog>
