<!-- Shutting down dialog -->
<p-dialog [(visible)]="shuttingDown"
          [modal]="true"
          [closable]="false"
          [resizable]="false"
          [showHeader]="false">
  <div class="content">
    <h2>Auto-Subliminal is shutting down...</h2>
    <br>
    <i class="pi pi-spin pi-spinner" aria-hidden="true" title="Shutting down..."></i>
  </div>
</p-dialog>

<!-- Shutdown finished dialog -->
<p-dialog [(visible)]="shutdown"
          [modal]="true"
          [closable]="false"
          [resizable]="false"
          [showHeader]="false">
  <div class="content">
    <h2>Auto-Subliminal shutdown finished</h2>
    <br>
    <p-button label="Close" (onClick)="shutdown=false"></p-button>
  </div>
</p-dialog>
