[flake8]
exclude =
    .build,
    .cache,
    .eggs,
    .git,
    .github,
    .history,
    .idea,
    .pytest_cache,
    .venv,
    .vscode,
    __pycache__,
    *.egg-info,
    cache,
    playvideo,
    requirements,
    web
ignore =
    W504
per-file-ignores =
    autosubliminal/core/scheduler.py: E722,
    autosubliminal/providers/addic7ed_custom.py: F401, E741,
    autosubliminal/providers/pitcher.py: E722,
    autosubliminal/providers/useragents.py: E501,
    autosubliminal/util/common.py: E731
max-line-length = 120
# Line below is required to get autopep8 formatting the code properly in vscode
experimental = 1
