[flake8]
 extend-exclude =
    .build,
    .cache,
    .github,
    .history,
    .idea,
    .pytest_cache,
    .venv,
    .vscode,
    cache,
    requirements,
    web
ignore =
    W504
    E402
per-file-ignores =
    autosubliminal/core/scheduler.py: E722,
    autosubliminal/providers/addic7ed_custom.py: F401, E741,
    autosubliminal/providers/opensubtitles_com.py: E741,
    autosubliminal/providers/pitcher.py: E722,
    autosubliminal/providers/useragents.py: E501,
    autosubliminal/subsynchronizer.py: F401,
    autosubliminal/util/common.py: E731
max-line-length = 120
# Line below is required to get autopep8 formatting the code properly in vscode
experimental = 1
