# PyCharm IDE files
.idea
.vscode
.history

# Virtual environments
.venv

# Compiled files
*.pyc

# Windows related files
*.pyd

# Todo's
TODO.txt

# Log files
*.log
*.log.*

# Database files
*.db
*.db.*
*.dbm
*.dbm.*

# Config files
config.properties*

# Python version file
.pythonversion

# Installation files
.eggs/
*.egg-info/
build/
dist/
*.dist-info/
node_modules/
lib/bin/
lib/**/test/
lib/**/tests/
lib/**/tutorial/
lib/**/example/
lib/**/example2/
lib/**/test*.py
lib/**/tests*.py
lib/**/*nspkg.pth

# Application cache
cache/

# Cache files
.cache
.pytest_cache

#Coverage files (except coverage configuration file)
!.coveragerc
.coverage

#Tox files
.tox
