# PyCharm IDE files
.idea

# Compiled files
*.pyc

# Log files
*.log*

# Database files
*.db
*.dbm

# Config files
config.properties*

# Installation files
.eggs/
Auto_Subliminal.egg-info/
build/
dist/
node_modules/

# Cache files
.cache/

#Coverage files
.coverage
