# PyCharm IDE files
.idea
.vscode
.history

# Virtual environments
.venv

# Compiled files
*.pyc

# Windows related files
*.pyd

# Todo's
TODO.txt

# Log files
*.log
*.log.*

# Database files
*.db
*.db.*
*.dbm
*.dbm.*

# Config files
config.properties*

# Python version file
.pythonversion

# Installation files
.eggs/
Auto_Subliminal.egg-info/
build/
dist/
node_modules/

# Application cache
cache/

# Cache files
.cache
.pytest_cache

#Coverage files (except coverage configuration file)
!.coveragerc
.coverage

#Tox files
.tox
