appdirs==1.4.4 ; python_full_version >= "3.8.1" and python_version < "4"
attrs==23.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
auditok==0.1.5 ; python_full_version >= "3.8.1" and python_version < "4"
autocommand==2.2.2 ; python_full_version >= "3.8.1" and python_version < "4"
babelfish==0.6.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_full_version >= "3.8.1" and python_version < "4"
boto==2.49.0 ; python_full_version >= "3.8.1" and python_version < "4"
certifi==2022.12.7 ; python_full_version >= "3.8.1" and python_version < "4"
chardet==5.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
charset-normalizer==3.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
cheroot==9.0.0 ; python_full_version >= "3.8.1" and python_version < "4"
cherrypy==18.9.0 ; python_full_version >= "3.8.1" and python_version < "4"
click==8.1.3 ; python_full_version >= "3.8.1" and python_version < "4"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "4" and platform_system == "Windows"
deathbycaptcha==0.1.1 ; python_full_version >= "3.8.1" and python_version < "4"
decorator==5.1.1 ; python_full_version >= "3.8.1" and python_version < "4"
diskcache==5.6.1 ; python_full_version >= "3.8.1" and python_version < "4"
dogpile-cache==1.3.3 ; python_full_version >= "3.8.1" and python_version < "4"
enzyme==0.4.1 ; python_full_version >= "3.8.1" and python_version < "4"
faust-cchardet==2.1.18 ; python_full_version >= "3.8.1" and python_version < "4"
ffmpeg-python==0.2.0 ; python_full_version >= "3.8.1" and python_version < "4"
ffsubsync==0.4.25 ; python_full_version >= "3.8.1" and python_version < "4"
future==0.18.3 ; python_full_version >= "3.8.1" and python_version < "4"
gitdb==4.0.10 ; python_full_version >= "3.8.1" and python_version < "4"
gitpython==3.1.43 ; python_full_version >= "3.8.1" and python_version < "4"
gntp==1.0.3 ; python_full_version >= "3.8.1" and python_version < "4"
guessit==3.8.0 ; python_full_version >= "3.8.1" and python_version < "4"
html5lib==1.1 ; python_full_version >= "3.8.1" and python_version < "4"
idna==3.4 ; python_full_version >= "3.8.1" and python_version < "4"
imdbpie @ git+https://github.com/h3llrais3r/imdb-pie.git@4e5fc35fdafbf8b1d51b54dd722f757f99f98d46 ; python_full_version >= "3.8.1" and python_version < "4"
importlib-resources==5.12.0 ; python_full_version >= "3.8.1" and python_version < "3.9"
inflect==6.0.4 ; python_full_version >= "3.8.1" and python_version < "4"
jaraco-collections==4.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
jaraco-context==4.3.0 ; python_full_version >= "3.8.1" and python_version < "4"
jaraco-functools==3.6.0 ; python_full_version >= "3.8.1" and python_version < "4"
jaraco-text==3.11.1 ; python_full_version >= "3.8.1" and python_version < "4"
jsonpickle==3.0.4 ; python_full_version >= "3.8.1" and python_version < "4"
langdetect==1.0.9 ; python_full_version >= "3.8.1" and python_version < "4"
markdown-it-py==2.2.0 ; python_full_version >= "3.8.1" and python_version < "4"
mdurl==0.1.2 ; python_full_version >= "3.8.1" and python_version < "4"
more-itertools==9.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
numpy==1.24.2 ; python_full_version >= "3.8.1" and python_version < "4"
oauthlib==3.2.2 ; python_full_version >= "3.8.1" and python_version < "4"
packaging==24.0 ; python_full_version >= "3.8.1" and python_version < "4"
pbr==5.11.1 ; python_full_version >= "3.8.1" and python_version < "4"
portend==3.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
pydantic==1.10.7 ; python_full_version >= "3.8.1" and python_version < "4"
pygments==2.15.1 ; python_full_version >= "3.8.1" and python_version < "4"
pysrt==1.1.2 ; python_full_version >= "3.8.1" and python_version < "4"
pysubs2==1.6.1 ; python_full_version >= "3.8.1" and python_version < "4"
python-anticaptcha==1.0.0 ; python_full_version >= "3.8.1" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.8.1" and python_version < "4"
python-twitter==3.5 ; python_full_version >= "3.8.1" and python_version < "4"
pytz==2023.3 ; python_full_version >= "3.8.1" and python_version < "4"
pywin32==306 ; sys_platform == "win32" and implementation_name == "cpython" and python_version < "3.10" and python_full_version >= "3.8.1"
rarfile==4.0 ; python_full_version >= "3.8.1" and python_version < "4"
rebulk==3.2.0 ; python_full_version >= "3.8.1" and python_version < "4"
requests-oauthlib==1.4.1 ; python_full_version >= "3.8.1" and python_version < "4"
requests==2.31.0 ; python_full_version >= "3.8.1" and python_version < "4"
rich==13.3.4 ; python_full_version >= "3.8.1" and python_version < "4"
schema==0.7.7 ; python_full_version >= "3.8.1" and python_version < "4"
setuptools==67.6.1 ; python_full_version >= "3.8.1" and python_version < "4"
simplejson==3.19.2 ; python_full_version >= "3.8.1" and python_version < "4"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "4"
smmap==5.0.0 ; python_full_version >= "3.8.1" and python_version < "4"
soupsieve==2.4.1 ; python_full_version >= "3.8.1" and python_version < "4"
srt==3.5.3 ; python_full_version >= "3.8.1" and python_version < "4"
stevedore==5.0.0 ; python_full_version >= "3.8.1" and python_version < "4"
subliminal @ git+https://github.com/Diaoul/subliminal.git@6ac2fa23ee5baa7d8452552edaa7c4a8a00d237a ; python_full_version >= "3.8.1" and python_version < "4"
tailer==0.4.1 ; python_full_version >= "3.8.1" and python_version < "4"
tempora==5.2.2 ; python_full_version >= "3.8.1" and python_version < "4"
tqdm==4.65.0 ; python_full_version >= "3.8.1" and python_version < "4"
trans==2.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
tvdb-api @ git+https://github.com/h3llrais3r/tvdb_api.git@32228cc4af864398198e280bbafbd1ec98567d8f ; python_full_version >= "3.8.1" and python_version < "4"
typing-extensions==4.5.0 ; python_full_version >= "3.8.1" and python_version < "4"
unidecode==1.3.8 ; python_full_version >= "3.8.1" and python_version < "4"
urllib3==1.26.15 ; python_full_version >= "3.8.1" and python_version < "4"
webencodings==0.5.1 ; python_full_version >= "3.8.1" and python_version < "4"
webrtcvad-wheels==2.0.11.post1 ; python_full_version >= "3.8.1" and python_version < "4" and platform_system == "Windows"
webrtcvad==2.0.10 ; python_full_version >= "3.8.1" and python_version < "4" and platform_system != "Windows"
wheel==0.40.0 ; python_full_version >= "3.8.1" and python_version < "4"
ws4py==0.5.1 ; python_full_version >= "3.8.1" and python_version < "4"
zc-lockfile==3.0.post1 ; python_full_version >= "3.8.1" and python_version < "4"
zipp==3.15.0 ; python_full_version >= "3.8.1" and python_version < "3.9"
