annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4"
auditok==0.1.5 ; python_version >= "3.10" and python_version < "4"
autocommand==2.2.2 ; python_version >= "3.10" and python_version < "4"
babelfish==0.6.1 ; python_version >= "3.10" and python_version < "4"
backports-tarfile==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
beautifulsoup4==4.14.3 ; python_version >= "3.10" and python_version < "4"
certifi==2025.11.12 ; python_version >= "3.10" and python_version < "4"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "4"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "4"
charset-normalizer==3.4.4 ; python_version >= "3.10" and python_version < "4"
cheroot==11.1.2 ; python_version >= "3.10" and python_version < "4"
cherrypy==18.10.0 ; python_version >= "3.10" and python_version < "4"
click-option-group==0.5.9 ; python_version >= "3.10" and python_version < "4"
click==8.3.1 ; python_version >= "3.10" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4" and platform_system == "Windows"
cryptography==46.0.6 ; python_version >= "3.10" and python_version < "4"
curl-cffi==0.14.0 ; python_version >= "3.10" and python_version < "4"
deathbycaptcha==0.1.1 ; python_version >= "3.10" and python_version < "4"
decorator==5.2.1 ; python_version >= "3.10" and python_version < "4"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4"
deprecated==1.3.1 ; python_version >= "3.10" and python_version < "4"
dogpile-cache==1.5.0 ; python_version >= "3.10" and python_version < "4"
enzyme==0.5.2 ; python_version >= "3.10" and python_version < "4"
faust-cchardet==2.1.19 ; python_version >= "3.10" and python_version < "3.13"
ffmpeg-python==0.2.0 ; python_version >= "3.10" and python_version < "4"
ffsubsync==0.4.32 ; python_version >= "3.10" and python_version < "4"
future==1.0.0 ; python_version >= "3.10" and python_version < "4"
gitdb==4.0.12 ; python_version >= "3.10" and python_version < "4"
gitpython==3.1.50 ; python_version >= "3.10" and python_version < "4"
gntp==1.0.3 ; python_version >= "3.10" and python_version < "4"
guessit==3.8.0 ; python_version >= "3.10" and python_version < "4"
h11==0.16.0 ; python_version >= "3.10" and python_version < "4"
html5lib==1.1 ; python_version >= "3.10" and python_version < "4"
idna==3.11 ; python_version >= "3.10" and python_version < "4"
imdbinfo-aws==1.0.3 ; python_version >= "3.10" and python_version < "4"
imdbinfo==0.9.1 ; python_version >= "3.10" and python_version < "4"
jaraco-collections==5.2.1 ; python_version >= "3.10" and python_version < "4"
jaraco-context==6.0.1 ; python_version >= "3.10" and python_version < "4"
jaraco-functools==4.3.0 ; python_version >= "3.10" and python_version < "4"
jaraco-text==4.0.0 ; python_version >= "3.10" and python_version < "4"
jh2==5.0.10 ; python_version >= "3.10" and python_version < "4"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4"
jsonpickle==4.1.1 ; python_version >= "3.10" and python_version < "4"
knowit==0.5.11 ; python_version >= "3.10" and python_version < "4"
langdetect==1.0.9 ; python_version >= "3.10" and python_version < "4"
lxml==6.0.2 ; python_version >= "3.10" and python_version < "4"
markdown-it-py==4.0.0 ; python_version >= "3.10" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4"
more-itertools==10.8.0 ; python_version >= "3.10" and python_version < "4"
niquests==3.15.2 ; python_version >= "3.10" and python_version < "4"
numpy==2.2.6 ; python_version >= "3.10" and python_version < "4"
oauthlib==3.3.1 ; python_version >= "3.10" and python_version < "4"
packaging==26.2 ; python_version >= "3.10" and python_version < "4"
platformdirs==4.5.1 ; python_version >= "3.10" and python_version < "4"
portend==3.2.1 ; python_version >= "3.10" and python_version < "4"
pycparser==3.0 ; python_version >= "3.10" and python_version < "4" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.10" and python_version < "4"
pydantic==2.12.5 ; python_version >= "3.10" and python_version < "4"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "4"
pymediainfo==7.0.1 ; python_version >= "3.10" and python_version < "4"
pysrt==1.1.2 ; python_version >= "3.10" and python_version < "4"
pysubs2==1.8.0 ; python_version >= "3.10" and python_version < "4"
python-anticaptcha==2.0.0 ; python_version >= "3.10" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4"
python-twitter==3.5 ; python_version >= "3.10" and python_version < "4"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "4"
qh3==1.5.6 ; python_version >= "3.10" and python_version < "4" and (platform_system == "Darwin" or platform_system == "Windows" or platform_system == "Linux") and (platform_machine == "x86_64" or platform_machine == "s390x" or platform_machine == "armv7l" or platform_machine == "ppc64le" or platform_machine == "ppc64" or platform_machine == "AMD64" or platform_machine == "aarch64" or platform_machine == "arm64" or platform_machine == "ARM64" or platform_machine == "x86" or platform_machine == "i686" or platform_machine == "riscv64" or platform_machine == "riscv64gc") and (platform_python_implementation == "CPython" or python_version < "3.12") and (platform_python_implementation == "CPython" or platform_python_implementation == "PyPy")
rebulk==3.2.0 ; python_version >= "3.10" and python_version < "4"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "4"
requests==2.34.2 ; python_version >= "3.10" and python_version < "4"
rich==14.2.0 ; python_version >= "3.10" and python_version < "4"
schema==0.7.8 ; python_version >= "3.10" and python_version < "4"
setuptools==80.9.0 ; python_version >= "3.10" and python_version < "4"
simplejson==4.1.1 ; python_version >= "3.10" and python_version < "4"
six==1.17.0 ; python_version >= "3.10" and python_version < "4"
smmap==5.0.2 ; python_version >= "3.10" and python_version < "4"
soupsieve==2.8 ; python_version >= "3.10" and python_version < "4"
srt==3.5.3 ; python_version >= "3.10" and python_version < "4"
stevedore==5.8.0 ; python_version >= "3.10" and python_version < "4"
subliminal==2.5.0 ; python_version >= "3.10" and python_version < "4"
tailer==0.4.1 ; python_version >= "3.10" and python_version < "4"
tempora==5.8.1 ; python_version >= "3.10" and python_version < "4"
tomlkit==0.13.3 ; python_version >= "3.10" and python_version < "4"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "4"
trakit==0.2.5 ; python_version >= "3.10" and python_version < "4"
tvdb-api @ git+https://github.com/h3llrais3r/tvdb_api.git@32228cc4af864398198e280bbafbd1ec98567d8f ; python_version >= "3.10" and python_version < "4"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "4"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "4"
unidecode==1.4.0 ; python_version >= "3.10" and python_version < "4"
urllib3-future==2.14.908 ; python_version >= "3.10" and python_version < "4"
urllib3==2.6.0 ; python_version >= "3.10" and python_version < "4"
wassima==2.0.2 ; python_version >= "3.10" and python_version < "4"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4"
webrtcvad-wheels==2.0.14 ; python_version >= "3.10" and python_version < "4"
wrapt==2.0.1 ; python_version >= "3.10" and python_version < "4"
ws4py==0.6.0 ; python_version >= "3.10" and python_version < "4"
zc-lockfile==4.0 ; python_version >= "3.10" and python_version < "4"
