@import '../variables';

html,
body {
  height: 100%;
  margin: 0;
  font-size: $font-size;
  color: $font-color;
  background-color: $background-color;

  @media screen and (max-width: $media-mobile-max-width) {
    font-size: $font-size-sm;
  }

  .panel-section {
    margin-bottom: 2rem;

    .panel-section-header {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  a {
    text-decoration: none !important; // hide underline for a by default
  }
}
