@import '../variables';
@import '../mixins/flexbox';

html,
body {
  height: 100%;
  margin: 0;
  font-size: $font-size;
  color: $font-color;
  background-color: $background-color;

  // Smaller font size on tablets and mobile
  @media screen and (max-width: $media-tablet-max-width) {
    font-size: $font-size-sm;
  }

  .panel-section {
    margin-bottom: 2rem;

    .panel-section-header {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  a {
    text-decoration: none !important; // hide underline for a by default
  }

  .form {
    .form-row {
      @include flexbox;
      @include align-items(center);
      margin-bottom: 0.5rem;

      .form-row-buttons {
        button {
          margin-right: 0.5rem;
        }
      }

      .form-row-label {
        label {
          font-weight: $font-bold;
          margin-bottom: 0;
        }
      }

      .form-row-notification {
        margin-bottom: 0.25rem;
      }

      .form-row-switches {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);

        .p-inputswitch {
          display: block; // inline-block seems to add some margin at the bottom which gives issues for alignment with label
        }
      }
    }

    .button-row {
      margin-top: 1rem;
    }
  }
}
