#from types import *

#import autosubliminal
#from autosubliminal.db import LastDownloads
#from autosubliminal.utils import convert_timestamp, display_title

#set $lastdownloads = LastDownloads().get_last_downloads()

#if $len($lastdownloads) >= 1

<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">
            <span class="h3 weighted">Last downloaded subtitles</span>
        </div>

        <div class="panel-body">

            <div class="form-inline">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="filter">
                            <label for="lastdownloadsfilter">
                                Search:
                                <input id="lastdownloadsfilter" class="search form-control input-sm" type="search" data-column="all">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <table id="lastdownloads" class="table table-condensed table-striped table-hover">

                <thead>
                <tr>
                    <th>Show/Movie name</th>
                    <th>Season</th>
                    <th>Episode</th>
                    <th>Source</th>
                    <th>Quality</th>
                    <th>Codec</th>
                    <th>Group</th>
                    <th>Lang</th>
                    <th>Time</th>
                </tr>
                </thead>

                <tbody>
                #for $item in $lastdownloads
                <tr>
                    <td>
                        <span class="main-column">$display_title($item)</span>
                        <span class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info">
                            </a>
                            <ul class="dropdown-menu has-tip info-list">
                                <li>
                                    <span class="info-list-label">Subtitle:</span>
                                    <span>
                                        #if $item['subtitle'] == None
                                        N/A
                                        #else
                                        $item['subtitle']
                                        #end if
                                    </span>
                                </li>
                                <li>
                                    <span class="info-list-label">Provider:</span>
                                    <span>
                                        #if $item['provider'] == None
                                        N/A
                                        #else
                                        $item['provider']
                                        #end if
                                    </span>
                                </li>
                            </ul>
                        </span>
                    </td>
                    <td>$item['season']</td>
                    <td>$item['episode']</td>
                    <td class="wrapped">
                        #if $type($item['source']) == UnicodeType:
                        $item['source'].upper()
                        #else
                        Unknown
                        #end if
                    </td>
                    <td class="wrapped">
                        #if $type($item['quality']) == UnicodeType:
                        $item['quality'].upper()
                        #else
                        Unknown
                        #end if
                    </td>
                    <td class="wrapped">
                        #if $type($item['codec']) == UnicodeType:
                        $item['codec'].upper()
                        #else
                        Unknown
                        #end if
                    </td>
                    <td class="wrapped">
                        #if $type($item['releasegrp']) == UnicodeType:
                        $item['releasegrp'].upper()
                        #else
                        Unknown
                        #end if
                    </td>
                    <td>
                        #set $imageurl = $autosubliminal.WEBROOT + "/images/flags/" + $item['language'] + ".png"
                        <img src="$imageurl" alt="$item['language']" title="$item['language']">
                    </td>
                    <td class="datetime">
                        #if $type($item['timestamp']) == UnicodeType:
                        $convert_timestamp($item['timestamp'])
                        #else
                        Unknown
                        #end if
                    </td>
                </tr>
                #end for
                </tbody>

            </table>

            <div id="lastdownloadspager" class="pager">
                <img src="/images/arrows/first.png" class="first"/>
                <img src="/images/arrows/prev.png" class="prev"/>
                <span class="pagedisplay"></span>
                <!-- this can be any element, including an input -->
                <img src="/images/arrows/next.png" class="next"/>
                <img src="/images/arrows/last.png" class="last"/>
                <select class="pagesize" title="Select page size">
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="all">All</option>
                </select>
                <select class="gotoPage" title="Select page number"></select>
            </div>

        </div>

    </div>

</div>

#end if