<div class="page-footer">
  <div class="container-lg">
    <span class="info">
      <span>Auto-Subliminal version:</span>
      <span>{{appVersion}}</span>
    </span>
    <span class="separator">|</span>
    <span class="info">
      <span>Next disk scan in:</span>
      <span *ngIf="scanDiskRunning">Running...</span>
      <span *ngIf="scanDiskNotAvailable">N/A</span>
      <countdown *ngIf="scanDiskCountdownConfig && !scanDiskRunning && !scanDiskNotAvailable" [config]="scanDiskCountdownConfig"></countdown>
    </span>
    <span class="separator">|</span>
    <span class="info">
      <span>Next subtitle check in:</span>
      <span *ngIf="checkSubRunning">Running...</span>
      <span *ngIf="checkSubNotAvailable">N/A</span>
      <countdown *ngIf="checkSubCountdownConfig && !checkSubRunning && !checkSubNotAvailable" [config]="checkSubCountdownConfig"></countdown>
    </span>
  </div>
</div>
