@import '../../../../../scss/mixins/flexbox';

.page-footer {
  border-top: 1px solid var(--surface-d);

  .container {
    @include flexbox;
    @include justify-content(center);
    text-align: center;

    .separator {
      padding: 0 0.5rem;
    }
  }
}
