<div class="container-lg">
  <p-tabView>
    <!-- Info tab -->
    <p-tabPanel header="General">
      <div class="info-wrapper" *ngIf="systemInfo">
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">OS</div>
          <div class="info col-sm-12 col-md-8">{{systemInfo.os}}</div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">PID</div>
          <div class="info col-sm-12 col-md-8">{{systemInfo.pid}}</div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Version</div>
          <div class="info col-sm-12 col-md-8" *ngIf="!versionUrl">{{version}}</div>
          <div class="info col-sm-12 col-md-8" *ngIf="versionUrl"><a href="{{versionUrl}}" target="_blank">{{version}}</a></div>
        </div>
        <!-- Only show git branch when installed through git -->
        <div class="info-item row" *ngIf="gitInstall">
          <div class="info-label col-sm-12 col-md-4">Git branch</div>
          <div class="info col-sm-12 col-md-8"><a href="{{systemInfo.currentBranchUrl}}" target="_blank">{{systemInfo.currentBranch}}</a></div>
        </div>
        <!-- Only show git version when installed through git -->
        <div class="info-item row" *ngIf="gitInstall">
          <div class=" info-label col-sm-12 col-md-4">Git version</div>
          <div class="info col-sm-12 col-md-8"><a href="{{systemInfo.currentVersionUrl}}" target="_blank">{{systemInfo.currentVersion}}</a></div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">System encoding</div>
          <div class="info col-sm-12 col-md-8">{{systemInfo.systemEncoding}}</div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Python version</div>
          <div class="info col-sm-12 col-md-8">{{systemInfo.pythonVersion}}</div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Python location</div>
          <div class="info col-sm-12 col-md-8">{{systemInfo.pythonLocation}}</div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Config file</div>
          <div class="info col-sm-12 col-md-8">{{systemInfo.configFile}}</div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Database file</div>
          <div class="info col-sm-12 col-md-8">{{systemInfo.databaseFile}}</div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Log file</div>
          <div class="info col-sm-12 col-md-8">{{systemInfo.logFile}}</div>
        </div>
        <hr class="separator">
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Source</div>
          <div class="info col-sm-12 col-md-8"><a href="{{SOURCE_URL}}" target="_blank">{{SOURCE_URL}}</a></div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Issues</div>
          <div class="info col-sm-12 col-md-8"><a href="{{ISSUES_URL}}" target="_blank">{{ISSUES_URL}}</a></div>
        </div>
        <div class="info-item row">
          <div class="info-label col-sm-12 col-md-4">Wiki</div>
          <div class="info col-sm-12 col-md-8"><a href="{{WIKI_URL}}" target="_blank">{{WIKI_URL}}</a></div>
        </div>
      </div>
    </p-tabPanel>
    <!--- Changelog tab -->
    <p-tabPanel header="Changelog">
      <div class="changelog-wrapper" *ngIf="changelog" [innerHTML]="changelog"></div>
    </p-tabPanel>
  </p-tabView>
</div>
