#import autosubliminal

<table>
	<tr>
		<td width="140px">Path</td>
		<td><input type="text" size="50" name="path" value="$autosubliminal.PATH" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationPath"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationPath" class="dropdown-menu has-tip" align="left"><ul><li>The folder where the Auto-Subliminal files are located.<br />This field is required!</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Video paths</td>
		<td><textarea rows="5" cols="50" name="videopaths">$autosubliminal.config.display_videopaths</textarea></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationVideopaths"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationVideopaths" class="dropdown-menu has-tip" align="left"><ul><li>Configure folders where your videos are located.<br />Use a new line for each location!</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Logfile</td>
		<td><input type="text" size="50" name="logfile" value="$autosubliminal.LOGFILE" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationLogfile"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationLogfile" class="dropdown-menu has-tip" align="left"><ul><li>The location and the name of the logfile. When not set, AutoSubliminal.log will be used.<br />This field is required!</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Launchbrowser</td>
		<td><select name="launchbrowser">
#if $autosubliminal.LAUNCHBROWSER
  <option value="True" selected="selected">Enabled</option>
  <option value="False">Disabled</option>
#else
  <option value="True">Enabled</option>
  <option value="False" selected="selected">Disabled</option>
#end if
		</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationLauchbrowser"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationLauchbrowser" class="dropdown-menu has-tip" align="left"><ul><li>Should we start a browser every time Auto-Subliminal starts? This overwrites the commandline parameters</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Fallback to English</td>
		<td><select name="fallbacktoeng">
#if $autosubliminal.FALLBACKTOENG
  <option value="True" selected="selected">Enabled</option>
  <option value="False">Disabled</option>
#else
  <option value="True">Enabled</option>
  <option value="False" selected="selected">Disabled</option>
#end if
</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationFallbacktoeng"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationFallbacktoeng" class="dropdown-menu has-tip" align="left"><ul><li>When Enabled, English subtitles are downloaded when there are no Dutch subtitles available.<br />Default is Enabled.</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Download English</td>
		<td><select name="downloadeng"> <!--value="$autosubliminal.DOWNLOADENG" />-->
#if $autosubliminal.DOWNLOADENG
  <option value="True" selected="selected">Enabled</option>
  <option value="False">Disabled</option>
#else
  <option value="True">Enabled</option>
  <option value="False" selected="selected">Disabled</option>
#end if
</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationDownloadeng"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationDownloadeng" class="dropdown-menu has-tip" align="left"><ul><li>When Enabled, English subtitles are always downloaded.<br />Default is Disabled.</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Subtitle English</td>
		<td><input type="text" size="50" name="subeng" value="$autosubliminal.SUBENG" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationSubeng"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationSubeng" class="dropdown-menu has-tip" align="left"><ul><li>When Fallback to English is enabled, English subtitles are renamed to: filename.subeng.srt.<br />Default is 'en' (filename.en.srt).</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Subtitle Dutch</td>
		<td><input type="text" size="50" name="subnl" value="$autosubliminal.SUBNL" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationSubnl"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationSubnl" class="dropdown-menu has-tip" align="left"><ul><li>When downloading Dutch subtitles, files are renamed to: filename.srt when left emtpy.<br />Default is Empty.</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Notify English</td>
		<td><select name="notifyen">
			#if $autosubliminal.NOTIFYEN
			  <option value="True" selected="selected">Enabled</option>
			  <option value="False">Disabled</option>
			#else
			  <option value="True">Enabled</option>
			  <option value="False" selected="selected">Disabled</option>
			#end if
		</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationNotifyEN"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNotifyEN" class="dropdown-menu has-tip" align="left"><ul><li>When enabled, Auto-Subliminal will send a notification when an English subtitle has been downloaded.<br />Default is Enabled.</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Notify Dutch</td>
		<td><select name="notifynl">
			#if $autosubliminal.NOTIFYNL
			  <option value="True" selected="selected">Enabled</option>
			  <option value="False">Disabled</option>
			#else
			  <option value="True">Enabled</option>
			  <option value="False" selected="selected">Disabled</option>
			#end if
		</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationNotifyNL"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNotifyNL" class="dropdown-menu has-tip" align="left"><ul><li>When enabled, Auto-Subliminal will send a notification when a Dutch subtitle has been downloaded.<br />Default is Enabled.</li></ul></div></td>
	</tr>
	
	<tr>
		<td width="140px">Post-process CMD</td>
		<td><input type="text" size="50" name="postprocesscmd" value="$autosubliminal.POSTPROCESSCMD" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationPostprocesscmd"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationPostprocesscmd" class="dropdown-menu has-tip" align="left"><ul><li>Auto-Subliminal will run this command after downloading a subtitle.</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">MinMatchScore</td>
		<td>

		Show:
		## this is always True because the default value is forced at startup in case of an invalid score
		#if True
			<input type="checkbox" name="mssshow" disabled checked value=1>
			<input type="hidden" name="mssdefault" value=1>
		#else
			## this should never be possible because the default value is forced at startup in case of an invalid score
			<input type="checkbox" name="mmsshow" value=1>
		#end if

		Quality:
		#if $autosubliminal.MATCHQUALITY
			<input type="checkbox" name="mmsquality" checked value=1>
		#else
			<input type="checkbox" name="mmsquality" value=1>
		#end if

		Codec:
		#if $autosubliminal.MATCHCODEC
			<input type="checkbox" name="mmscodec" checked="True" value=1>
		#else
			<input type="checkbox" name="mmscodec" value=1>
		#end if

		Releasegroup:
		#if $autosubliminal.MATCHRELEASEGROUP
			<input type="checkbox" name="mmsreleasegroup" checked value=1>
		#else
			<input type="checkbox" name="mmsreleasegroup" value=1>
		#end if

		</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationMinmatchscore"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a>
		<div id="informationMinmatchscore" class="dropdown-menu has-tip" align="left"><ul><li>
		What items should match before a subtitle is downloaded via the API? 
		</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Skip hidden directories</td>
		<td><select name="skiphiddendirs">
		#if $autosubliminal.SKIPHIDDENDIRS
			<option value="True" selected="selected">Enabled</option>
			<option value="False">Disabled</option>
		#else
			<option value="True">Enabled</option>
			<option value="False" selected="selected">Disabled</option>
		#end if
		</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationSkiphiddendirs"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationSkiphiddendirs" class="dropdown-menu has-tip" align="left"><ul><li>Should we scan hidden directories (directories that start with a dot, for example .AppleDouble)? Doesn't work for Windows style hidden directories.</li></ul></div></td>
	</tr>
	
	<tr>
		<td width="140px">ScanDisk</td>
		<td><input type="text" size="50" name="scandisk" value="$autosubliminal.SCHEDULERSCANDISK" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationScandisk"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationScandisk" class="dropdown-menu has-tip" align="left"><ul><li>Change the interval of the ScanDisk thread, it scans the disk for missing subtitle files.<br />Time is in seconds, default is 3600 seconds.</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">CheckSub</td>
		<td><input type="text" size="50" name="checksub" value="$autosubliminal.SCHEDULERCHECKSUB" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationChecksub"><img src="$autosubliminal.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationChecksub" class="dropdown-menu has-tip" align="left"><ul><li>Change the interval of the CheckSub thread, it checks if there is a match on the bierdopje API. Cannot not be set lower then 21600.<br />Time is in seconds, default is 28800 seconds.</li></ul></div></td>
	</tr>
	
</table>

