#import time

#import autosubliminal
#from autosubliminal import version

</div>
</div>
<center>
<br />
<table>
	<tr>
		<td align="left" width="150px">Auto-Subliminal version</td>
		<td align="center" width="25px">:</td>
		<td align="right" width="90px">$version.RELEASE_VERSION</td>
	</tr>

	<tr>
		<td align="left" width="140px">Next disk scan in</td>
		<td align="center" width="25px">:</td>
		<td align="right" width="90px">
			#try
			  $time.strftime('%H:%M:%S', $time.gmtime(($autosubliminal.SCANDISK.interval - ($time.time() - $autosubliminal.SCANDISK.lastrun) )))
			#except
			  Please wait...
			#end try
		</td>
	</tr>

	<tr>
		<td align="left" width="140px">Next subtitle check in</td>
		<td align="center" width="25px">:</td>
		<td align="right" width="90px">
			#try
			  $time.strftime('%H:%M:%S', $time.gmtime(($autosubliminal.CHECKSUB.interval - ($time.time() - $autosubliminal.CHECKSUB.lastrun) )))
			#except
			  Please wait...
			#end try
		</td>
	</tr>
	
	<!--
	<tr>
		<td align="left" width="150px">API calls left</td>
		<td align="center" width="25px">:</td>
		<td align="right" width="70px">$autosubliminal.APICALLS</td>
	</tr>
	
	<tr>
		<td align="left" width="150px">API call reset in</td>
		<td align="center" width="25px">:</td>
		<td align="right" width="70px">#if ($autosubliminal.APICALLSRESETINT - ($time.time() - $autosubliminal.APICALLSLASTRESET)) < 0
		At next API call
		#else
		$time.strftime('%H:%M:%S', $time.gmtime(($autosubliminal.APICALLSRESETINT - ($time.time() - $autosubliminal.APICALLSLASTRESET) )))
		#end if</td>
	</tr>
	-->
	
	<tr>
		<td colspan="3" align="center">&nbsp;</td>
	</tr>
	
</table>

</center>

</body>
</html>
