#import autosubliminal

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/header.tmpl")

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/menu.tmpl")

<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/home.js"></script>

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/home-wanteditems.tmpl")

<br>

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/home-lastdownloads.tmpl")

<br>

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/footer.tmpl")