#import autosubliminal

<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/hoverIntent.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/home-manualsearch.js"></script>

#if $len($subs) >= 1

<div class="header">
	<h1>Found subtitles</h1><span></span>
</div>

<div class="content no-padding">

<table class="table">
	<thead>
		<tr>
			<th style="width: 50px;">Score</th>
			<th style="width: 100px;">Provider</th>
			<th style="width: 525px;">Preview</th>
			<th style="width: 75px;">Actions</th>
		</tr>
	</thead>
    <tbody>

#for $index, $sub in enumerate($subs)

        <tr>
            <td align="center">$sub.score</td>
            <td align="center"><p style="cursor: pointer" class="manualsearchprovidertext">$sub.provider_name</p>
                <div id="dropdown-provider-$index" class="dropdown-menu has-tip">
                    <ul>
                        <li><b>Supported releases:</b></li>
                        #for $release in $sub.releases
                        <li>
                            $release
                        </li>
                        #end for
                    </ul>
                </div>
            </td>
            <td align="left"><div style="height:90px; width: 525px; overflow:scroll;">$sub.content_preview</div></td>
            <td align="center">
                <a class="manualsearchvisitlink" href="$sub.page_link">
                    <img src="$autosubliminal.WEBROOT/images/visit.png" alt="Visit website" title="Click to visit website" />
                </a>
                <br>
                <a class="manualsearchsavelink" href="$autosubliminal.WEBROOT/home/saveSubtitle/$sub.wanted_item_index/$index">
                    <img src="$autosubliminal.WEBROOT/images/save.png" alt="Save subtitle" title="Click to save subtitle" />
                </a>
                <br>
                <a class="manualsearchdeletelink" href="$autosubliminal.WEBROOT/home/deleteSubtitle/$sub.wanted_item_index">
                    <img src="$autosubliminal.WEBROOT/images/delete.png" alt="Delete subtitle" title="Click to delete subtitle" />
                </a>
                <br>
                <a class="manualsearchplaylink" href="$sub.playvideo_url">
                    <img src="$autosubliminal.WEBROOT/images/play.png" alt="Play video" title="Click to play video" />
                </a>
                <br>
                <a class="manualsearchpostprocesslink" href="$autosubliminal.WEBROOT/home/postProcess/$sub.wanted_item_index/$index">
                    <img src="$autosubliminal.WEBROOT/images/postprocess.png" alt="Post process" title="Click to execute post processing" />
                </a>
                <br>
            </td>
        </tr>

#end for

    </tbody>
</table>

#end if

<div id="div-error" class="error">$errormessage</div>
<div id="div-info" class="info">$infomessage</div>

</div>
