#import time
#import cgi
#import urllib
#import re
#from types import *

#import autosubliminal
#from autosubliminal.db import LastDownloads
#from autosubliminal.utils import convert_timestamp, convert_timestamp_table, get_attr

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/header.tmpl")

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/menu.tmpl")

<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/home.js"></script>

$autosubliminal.WANTEDQUEUE.sort(key=$get_attr('timestamp'))

#if $len($autosubliminal.WANTEDQUEUE) >= 1

<div class="box">
<div class="header">
	<h1>Wanted</h1><span></span>
</div>
<div class="content no-padding">

<table class="table sortable">
	<thead>
		<tr>
			<th>Show name</th>
			<th>Season</th>
			<th>Episode</th>
			<th>Source</th>
			<th>Quality</th>
			<th>Codec</th>
			<th>Group</th>
			<th>Language</th>
			<th class="sorttable_sorted">Time</th>
		</tr>
	</thead>
<tbody>

#for $index, $item in enumerate($autosubliminal.WANTEDQUEUE)

<tr>
	<td>
        <b><a href="#" data-dropdown="#dropdown-skip-$index" title="Click to skip">$item['title']</a></b>
        <a href="#"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" data-dropdown="#dropdown-wantedinfo-$index" /></a>
        <div id="dropdown-wantedinfo-$index" class="dropdown-menu has-tip">
            <ul>
                <li>$os.path.basename($item['originalFileLocationOnDisk'])</li>
            </ul>
        </div>
#if not $item['showid']:
        <a href="#"><img src="$autosubliminal.WEBROOT/images/warning.png" alt="warning" title="Skipping because no show id is found. Try to flush the cache to solve the problem." data-dropdown="#dropdown-wantedwarning-$index" /></a>
#end if
        <div id="dropdown-skip-$index" class="dropdown-menu has-tip">
            <ul>
                <li><a href="$autosubliminal.WEBROOT/config/skipShow/$item['title']/$item['season']">Skip season $item['season']</a></li>
                <li><a href="$autosubliminal.WEBROOT/config/skipShow/$item['title']/0">Skip show</a></li>
            </ul>
        </div>
    </td>
	<td width="75px" align="center">$item['season']</td>
	<td width="75px" align="center">$item['episode']</td>

#if $type($item['source']) == UnicodeType:
	<td width="75px" align="center">$item['source'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['quality']) == UnicodeType:
	<td width="75px" align="center">$item['quality'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['codec']) == UnicodeType:
	<td width="75px" align="center">$item['codec'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['releasegrp']) == UnicodeType:
	<td width="75px" align="center">$item['releasegrp'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

	<td width="75px" align="center">
#for $lang in $item['lang']
	#set $imageurl = $autosubliminal.WEBROOT + "/images/flags/" + $lang + ".png"
	<a href="#"><img src="$imageurl" alt="$lang" title="Click to search manually" data-dropdown="#dropdown-manualsearch-$index" /></a>
	<div id="dropdown-manualsearch-$index" class="dropdown-menu has-tip anchor-right">
        <ul>
            <li>
                <p>
                    <a class="manualsearchlink" href="$autosubliminal.WEBROOT/home/searchSubtitle/$index/$lang">Manual search</a>
                    <img id="img-loading-manualsearch" src="$autosubliminal.WEBROOT/images/loading.gif" style="display: none;" />
                </p>
            </li>
            <li>
                <div id="div-manualsearch-$index" style="width: 750px;"></div>
            </li>
        </ul>
    </div>
#end for
	</td>

#if $type($item['timestamp']) == UnicodeType:
	<td width="150px" align="center" sorttable_customkey="$convert_timestamp_table($item['timestamp'])">$convert_timestamp($item['timestamp'])</td>
#else
	<td width="150px" align="center">Unknown</td>
#end if
	
</tr>

#end for
</table>

<div id="dropdown-manualsearch-overview"></div>

</div>
</div>
<i>Click 'Show name' in wanted list to skip it</i>
<br>
<i>Click 'Language' icon in wanted list to search it manually</i>
#end if
<p>

#set $lastdownload = LastDownloads().get_last_downloads()

#if $len($lastdownload) >= 1
    
<div class="box">
<div class="header">
	<h1>Latest downloaded subtitles</h1><span></span>
</div>
<div class="content no-padding">
<table class="table sortable">
<thead>
<tr>
	<th>Show name</th>
	<th>Season</th>
	<th>Episode</th>
	<th>Source</th>
	<th>Quality</th>
	<th>Codec</th>
	<th>Group</th>
	<th>Language</th>
	<th>Time</th>
</tr>
</thead>

#for $item in $lastdownload
<tr>
	<td>
        <!-- Use this for a dropdown when clicking on the show name
        <b><a href='#' data-dropdown="#dropdown-lastdown-$item['id']">$item['show_name']</a></b>
        -->
        <b>$item['show_name']</b>
        <a href="#"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" data-dropdown="#dropdown-lastdowninfo-$item['id']" /></a>
        <div id="dropdown-lastdowninfo-$item['id']" class="dropdown-menu has-tip">
            <ul>
                <li>
                #if $item['subtitle'] == None
                    Subtitle: N/A
                #else
                    Subtitle: $item['subtitle']
                #end if
                </li>
                <li>
                #if $item['provider'] == None
                    Provider: N/A
                #else
                    Provider: $item['provider']
                #end if
                </li>
            </ul>
        </div>
    </td>
	<td width="75px" align="center">$item['season']</td>
	<td width="75px" align="center">$item['episode']</td>

#if $type($item['source']) == UnicodeType:
	<td width="75px" align="center">$item['source'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['quality']) == UnicodeType:
	<td width="75px" align="center">$item['quality'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['codec']) == UnicodeType:
	<td width="75px" align="center">$item['codec'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['releasegrp']) == UnicodeType:
	<td width="75px" align="center">$item['releasegrp'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

<td width="75px" align="center">
	#set $imageurl = $autosubliminal.WEBROOT + "/images/flags/" + $item['language'] + ".png"
	<img src="$imageurl" alt="$item['language']" />
</td>

#if $type($item['timestamp']) == UnicodeType:
	<td width="150px" align="center" sorttable_customkey="$convert_timestamp_table($item['timestamp'])">$convert_timestamp($item['timestamp'])</td>
#else
	<td width="150px" align="center">Unknown</td>
#end if

</tr>

#end for

</table>
</div>
</div>

#end if
<br>
<table>
	<tr>
		<td align="left" width="140px">Next disk scan in</td>
		<td align="center" width="25px">:</td>
		<td align="right" width="80px">
			#try
			  $time.strftime('%H:%M:%S', $time.gmtime(($autosubliminal.SCANDISK.interval - ($time.time() - $autosubliminal.SCANDISK.lastrun) ))) <br>
			#except
			  Please wait... <br>
			#end try
		</td>
	</tr>
	
	<tr>
		<td align="left" width="140px">Next subtitle check in</td>
		<td align="center" width="25px">:</td>
		<td align="right" width="80px">
			#try
			  $time.strftime('%H:%M:%S', $time.gmtime(($autosubliminal.CHECKSUB.interval - ($time.time() - $autosubliminal.CHECKSUB.lastrun) ))) <br>
			#except
			  Please wait... <br>
			#end try
		</td>
	</tr>
</table>
#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/footer.tmpl")
