#from types import *

#import autosubliminal
#from autosubliminal.utils import convert_timestamp, convert_timestamp_table, display_name, get_file_size, count_wanted_items

#if $len($autosubliminal.WANTEDQUEUE) >= 1

#set total = $count_wanted_items()
#set $total_shows = $count_wanted_items('episode')
#set $total_movies = $count_wanted_items('movie')

<div class="box">
<div class="header">
	<h1>Wanted ($total) - Shows ($total_shows) - Movies ($total_movies)</h1><span></span>
</div>
<div class="content no-padding">

<table class="table sortable">
	<thead>
		<tr>
			<th>Show/Movie name</th>
			<th>Season</th>
			<th>Episode</th>
			<th>Source</th>
			<th>Quality</th>
			<th>Codec</th>
			<th>Group</th>
			<th>Language</th>
			<th class="sorttable_sorted">Time</th>
		</tr>
	</thead>
<tbody>

#for $index, $item in enumerate($autosubliminal.WANTEDQUEUE)

<tr>
	<td>
#if $item['type'] == 'episode':
        <b><a href="#" data-dropdown="#dropdown-skipshow-$index" title="Click to skip">$display_name($item)</a></b>
#else if $item['type'] == 'movie':
        <b><a href="#" data-dropdown="#dropdown-skipmovie-$index" title="Click to skip">$display_name($item)</a></b>
#end if
        <a href="#"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" data-dropdown="#dropdown-wantedinfo-$index" /></a>
        <div id="dropdown-wantedinfo-$index" class="dropdown-menu has-tip">
            <ul>
                <li>File name: $os.path.basename($item['originalFileLocationOnDisk'])</li>
                <li>File size: $get_file_size($item['originalFileLocationOnDisk'])</li>
            </ul>
        </div>
#if $item['type'] == 'episode':
#if not $item['showid']:
        <a href="#"><img src="$autosubliminal.WEBROOT/images/warning.png" alt="warning" title="Show id could not be found! Please check the log file!" data-dropdown="#dropdown-wantedwarning-$index" /></a>
#end if
        <div id="dropdown-skipshow-$index" class="dropdown-menu has-tip">
            <ul>
                <li><a href="$autosubliminal.WEBROOT/home/postProcess/$index">Skip and post process show</a></li>
                <li><a href="$autosubliminal.WEBROOT/config/skipShow/$item['title']/0">Skip show</a></li>
                <li><a href="$autosubliminal.WEBROOT/config/skipShow/$item['title']/$item['season']">Skip season $item['season']</a></li>
            </ul>
        </div>
#else if $item['type'] == 'movie':
#if not $item['imdbid']:
        <a href="#"><img src="$autosubliminal.WEBROOT/images/warning.png" alt="warning" title="Imdb id could not be found! Please check the log file!" data-dropdown="#dropdown-wantedwarning-$index" /></a>
#end if
        <div id="dropdown-skipmovie-$index" class="dropdown-menu has-tip">
            <ul>
                <li><a href="$autosubliminal.WEBROOT/home/postProcess/$index">Skip and post process movie</a></li>
                <li><a href="$autosubliminal.WEBROOT/config/skipMovie/$item['title']/$item['year']">Skip movie</a></li>
            </ul>
        </div>
#end if
    </td>
	<td width="75px" align="center">$item['season']</td>
	<td width="75px" align="center">$item['episode']</td>

#if $type($item['source']) == UnicodeType:
	<td width="75px" align="center">$item['source'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['quality']) == UnicodeType:
	<td width="75px" align="center">$item['quality'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['codec']) == UnicodeType:
	<td width="75px" align="center">$item['codec'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

#if $type($item['releasegrp']) == UnicodeType:
	<td width="75px" align="center">$item['releasegrp'].upper()</td>
#else
	<td width="75px" align="center">Unknown</td>
#end if

	<td width="75px" align="center">
#for $lang in $item['lang']
	#set $imageurl = $autosubliminal.WEBROOT + "/images/flags/" + $lang + ".png"
	<a href="#"><img src="$imageurl" alt="$lang" title="Click to search manually" data-dropdown="#dropdown-manualsearch-$index" /></a>
	<div id="dropdown-manualsearch-$index" class="dropdown-menu has-tip anchor-right">
        <ul>
            <li>
                <p>
                    <a class="manualsearchlink" href="$autosubliminal.WEBROOT/home/searchSubtitle/$index/$lang">Manual search</a>
                    <img id="img-loading-manualsearch" src="$autosubliminal.WEBROOT/images/loading.gif" style="display: none;" />
                </p>
            </li>
            <li>
                <div id="div-manualsearch-$index" style="width: 750px;"></div>
            </li>
        </ul>
    </div>
#end for
	</td>

#if $type($item['timestamp']) == UnicodeType:
	<td width="150px" align="center" sorttable_customkey="$convert_timestamp_table($item['timestamp'])">$convert_timestamp($item['timestamp'])</td>
#else
	<td width="150px" align="center">Unknown</td>
#end if
	
</tr>

#end for

</table>

</div>
</div>

<br>
<i>Click 'Show/Movie name' in wanted list to skip it</i>
<br>
<i>Click 'Language' icon in wanted list to search it manually</i>

#end if