#import sys
#import os

#import autosub
#from autosub import version

<font style="font-size: large;"><b>Configuration</b></font><br /><br />
<table>
	<tr>
		<td width="140px">Config file</td>
		<td>
			#if $os.path.split($autosub.CONFIGFILE)[0] == ''	
				$os.path.join($autosub.PATH, $autosub.CONFIGFILE)
			#else
				$autosub.CONFIGFILE
			#end if
		</td>
	</tr>
	<tr>
		<td width="140px">Database file</td>
		<td>$os.path.join($autosub.PATH, $autosub.DBFILE)</td>
	</tr>
	<tr>
		<td width="140px">Log file</td>
		<td>
			#if $os.path.split($autosub.LOGFILE)[0] == ''	
				$os.path.join($autosub.PATH, $autosub.LOGFILE)
			#else
				$autosub.LOGFILE
			#end if
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td width="140px">Auto-Sub version</td>
		<td>$version.RELEASE_VERSION</td>
	</tr>
	<tr>
		<td width="140px">Python version</td>
		<td>$sys.version</td>
	</tr>
	<tr>
		<td width="140px">Python location</td>
		<td>$os.path.dirname($sys.executable)</td>
	</tr>
</table>
<hr>
<font style="font-size: large;"><b>Websites</b></font><br /><br />
<table>
	<tr>
		<td width="140px">Source</td>
		<td><a href="https://github.com/h3llrais3r/Auto-Subliminal" target="_blank">https://github.com/h3llrais3r/Auto-Subliminal</a></td>
	</tr>
	<tr>
		<td width="140px">Issues</td>
		<td><a href="https://github.com/h3llrais3r/Auto-Subliminal/issues" target="_blank">https://github.com/h3llrais3r/Auto-Subliminal/issues</a></td>
	</tr>
	<tr>
		<td width="140px">Wiki</td>
		<td><a href="https://github.com/h3llrais3r/Auto-Subliminal/wiki" target="_blank">https://github.com/h3llrais3r/Auto-Subliminal/wiki</a></td>
	</tr>
</table>