#from bs4 import BeautifulSoup

#import autosubliminal
#from autosubliminal import utils

#try:
	#set $response = utils.connect_url('https://raw.github.com/h3llrais3r/Auto-Subliminal/master/changelog.html')
	#set $page = $BeautifulSoup($response)
	#set $releases = $page.find_all("div", "release")
	#set $counter = 0

	<font style="font-size: large;"><b>Changelog</b></font><br /><br />

	<table>
	#for $release in $releases:
		#set $version = $release.find("div", "version").string
		#set $releasedate = $release.find("div", "releasedate").string
		#set $changelog = $release.find("ul", "changelog")
		<tr>
			<td width="140px"><b>Version</b></td>
			<td><b>$version</b></td>
		</tr>
		<tr>
			<td width="140px"><b>Release date</b></td>
			<td>$releasedate</td>
		</tr>
		<tr>
			<td width="140px"><b>Changelog</b></td>
			<td>$changelog</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		#set $counter = $counter + 1
		
		#if $counter >= 3
			#break
		#end if
	#end for
	</table>
#except:
	Changelog cannot be found right now, please try again later.
#end try: