#import autosub

#include $os.path.join($autosub.PATH.encode(), "interface/templates/header.tmpl")

#include $os.path.join($autosub.PATH.encode(), "interface/templates/menu.tmpl")

$message

#include $os.path.join($autosub.PATH.encode(), "interface/templates/footer.tmpl")