#import autosub

<textarea rows="10" cols="75" name="usernamemapping">$autosub.config.display_namemapping</textarea> <br />

<table>
	<tr>
		<td width="140px">Information</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationNamemappingInfo"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNamemappingInfo" class="dropdown-menu has-tip" align="left"><ul><li>Required. It allows the user to name local Show Name to bierdopje serie number.</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Example</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationNamemappingExample"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNamemappingExample" class="dropdown-menu has-tip" align="left"><ul><li>Serie Name = 12345<br />
Serie Name 2 = 123456<br /></li></ul></div></td>
	</tr>
</table>
