#import autosub

<b>WARNING</b>: All passwords are stored in plaintext!<br />
<b>INFORMATION</b>: You first need to save before you can test a notification.<br /><br />
	<table>
	
		<tr>
			<td colspan="3"><hr></td>
		</tr>
	
		<tr>
			<td width=50px" rowspan="10"><img src="$autosub.WEBROOT/images/notifiers/email.png" width="25px" height="24px" alt="" /></td>
			<td width="190px"><b>Mail</b></td>
			<td><select name="notifymail">
				#if $autosub.NOTIFYMAIL
				  <option value="True" selected="selected">Enabled</option>
				  <option value="False">Disabled</option>
				#else
				  <option value="True">Enabled</option>
				  <option value="False" selected="selected">Disabled</option>
				#end if
			</select></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationNotifyMail"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNotifyMail" class="dropdown-menu has-tip" align="left"><ul><li>When enabled Autosub will send an email notification. Default is Disabled.</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Server</td>
			<td><input type="text" size="60" name="mailsrv" value="$autosub.MAILSRV" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationMailServer"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationMailServer" class="dropdown-menu has-tip" align="left"><ul><li>It should point to the mail server you would like to use</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">From</td>
			<td><input type="text" size="60" name="mailfromaddr" value="$autosub.MAILFROMADDR" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationMailFrom"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationMailFrom" class="dropdown-menu has-tip" align="left"><ul><li>From which address will the notification be sent?</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">To</td>
			<td><input type="text" size="60" name="mailtoaddr" value="$autosub.MAILTOADDR" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationMailTo"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationMailTo" class="dropdown-menu has-tip" align="left"><ul><li>To which address will the notification be sent?</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Username</td>
			<td><input type="text" size="60" name="mailusername" value="$autosub.MAILUSERNAME" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationMailUsername"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationMailUsername" class="dropdown-menu has-tip" align="left"><ul><li>What is your username on this server?</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Password</td>
			<td><input type="password" size="60" name="mailpassword" value="$autosub.MAILPASSWORD" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationMailPassword"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationMailPassword" class="dropdown-menu has-tip" align="left"><ul><li>What is the password belonging to this username?</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Subject</td>
			<td><input type="text" size="60" name="mailsubject" value="$autosub.MAILSUBJECT" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationMailSubject"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationMailSubject" class="dropdown-menu has-tip" align="left"><ul><li>What should the subject be? (the download subtitle file will be added at the end of the subject)</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Encryption</td>
			<td><input type="text" size="60" name="mailencryption" value="$autosub.MAILENCRYPTION" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationMailEncryption"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationMailEncryption" class="dropdown-menu has-tip" align="left"><ul><li>What is the encryption method?</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Authentication</td>
			<td><input type="text" size="60" name="mailauth" value="$autosub.MAILAUTH" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationMailAuth"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationMailAuth" class="dropdown-menu has-tip" align="left"><ul><li>What Auth Mechanism should be used? (Don't change this if you don't know what you are doing!)</li></ul></div></td>
		</tr>
		
		<tr>
			<td colspan="4" align="left"><input type="button" value="Test" onClick="parent.location='$autosub.WEBROOT/config/testNotify/mail'" /></td>
		</tr>

		<tr>
			<td colspan="4"><hr></td>
		</tr>
		
		<tr>
			<td width=50px" rowspan="4"><img src="$autosub.WEBROOT/images/notifiers/twitter.png" width="25px" height="24px" alt="" /></td>
			<td width="190px"><b><a href="https://twitter.com/" target="_blank">Twitter</a></b></td>
			<td><select name="notifytwitter">
				#if $autosub.NOTIFYTWITTER
				  <option value="True" selected="selected">Enabled</option>
				  <option value="False">Disabled</option>
				#else
				  <option value="True">Enabled</option>
				  <option value="False" selected="selected">Disabled</option>
				#end if
			</select></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationNotifyTwitter"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNotifyTwitter" class="dropdown-menu has-tip" align="left"><ul><li>When enabled Autosub will send a Twitter notification. Default is Disabled.</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Key</td>
			<td><input type="text" size="60" name="twitterkey" value="$autosub.TWITTERKEY" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationTwitterKey"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationTwitterKey" class="dropdown-menu has-tip" align="left"><ul><li>What is the key for twitter?</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Secret</td>
			<td><input type="text" size="60" name="twittersecret" value="$autosub.TWITTERSECRET" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationTwitterSecret"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationTwitterSecret" class="dropdown-menu has-tip" align="left"><ul><li>What is the secret code for twitter?</li></ul></div></td>
		</tr>

		<tr>
			<td colspan="4" align="left"><input type="button" value="Test" onClick="parent.location='$autosub.WEBROOT/config/testNotify/twitter'" /> <input type="button" value="Register" onClick="parent.location='/config/regTwitter'" /></td>
		</tr>
		
		<tr>
			<td colspan="4"><hr></td>
		</tr>		
		
		<tr>
			<td width=50px" rowspan="3"><img src="$autosub.WEBROOT/images/notifiers/pushalot.png" width="25px" height="24px" alt="" /></td>
			<td width="190px"><b><a href="https://pushalot.com/" target="_blank">Pushalot</a></b></td>
			<td><select name="notifypushalot">
				#if $autosub.NOTIFYPUSHALOT
				  <option value="True" selected="selected">Enabled</option>
				  <option value="False">Disabled</option>
				#else
				  <option value="True">Enabled</option>
				  <option value="False" selected="selected">Disabled</option>
				#end if
			</select></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationNotifyPushalot"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNotifyPushalot" class="dropdown-menu has-tip" align="left"><ul><li>When enabled Autosub will send a Pushalot notification. Default is Disabled.</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">API</td>
			<td><input type="input" size="60" name="pushalotapi" value="$autosub.PUSHALOTAPI" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationPushalotAPI"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationPushalotAPI" class="dropdown-menu has-tip" align="left"><ul><li>What is the API key for Pushalot?</li></ul></div></td>
		</tr>

		<tr>
			<td colspan="4" align="left"><input type="button" value="Test" onClick="parent.location='$autosub.WEBROOT/config/testNotify/pushalot'" /></td>
		</tr>
		
		<tr>
			<td colspan="4"><hr></td>
		</tr>		
		
		<tr>
			<td width=50px" rowspan="3"><img src="$autosub.WEBROOT/images/notifiers/nma.png" width="25px" height="24px" alt="" /></td>
			<td width="190px"><b><a href="https://www.notifymyandroid.com/" target="_blank">Notify My Android</a></b></td>
			<td><select name="notifynma">
				#if $autosub.NOTIFYNMA
				  <option value="True" selected="selected">Enabled</option>
				  <option value="False">Disabled</option>
				#else
				  <option value="True">Enabled</option>
				  <option value="False" selected="selected">Disabled</option>
				#end if
			</select></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationNotifyNMA"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNotifyNMA" class="dropdown-menu has-tip" align="left"><ul><li>When enabled Autosub will send a Notify My Android notification. Default is Disabled.</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">API</td>
			<td><input type="input" size="60" name="nmaapi" value="$autosub.NMAAPI" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationNMAApi"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNMAApi" class="dropdown-menu has-tip" align="left"><ul><li>What is the API key for NMA?</li></ul></div></td>
		</tr>

		<tr>
			<td colspan="4" align="left"><input type="button" value="Test" onClick="parent.location='$autosub.WEBROOT/config/testNotify/nma'" /></td>
		</tr>
		
		<tr>
			<td colspan="4"><hr></td>
		</tr>
		
		<tr>
			<td width=50px" rowspan="5"><img src="$autosub.WEBROOT/images/notifiers/growl.png" width="25px" height="24px" alt="" /></td>
			<td width="190px"><b><a href="http://www.growl.info" target="_blank">Growl</a></b></td>
			<td><select name="notifygrowl">
				#if $autosub.NOTIFYGROWL
				  <option value="True" selected="selected">Enabled</option>
				  <option value="False">Disabled</option>
				#else
				  <option value="True">Enabled</option>
				  <option value="False" selected="selected">Disabled</option>
				#end if
			</select></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationNotifyGrowl"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNotifyGrowl" class="dropdown-menu has-tip" align="left"><ul><li>When enabled Autosub will send a Growl notification. Default is Disabled.</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Host</td>
			<td><input type="input" size="60" name="growlhost" value="$autosub.GROWLHOST" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationGrowlHost"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationGrowlHost" class="dropdown-menu has-tip" align="left"><ul><li>What is the address of the growl server?</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Port</td>
			<td><input type="input" size="60" name="growlport" value="$autosub.GROWLPORT" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationGrowlPort"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationGrowlPort" class="dropdown-menu has-tip" align="left"><ul><li>What port should we use?</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Pass</td>
			<td><input type="input" size="60" name="growlpass" value="$autosub.GROWLPASS" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationGrowlPass"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationGrowlPass" class="dropdown-menu has-tip" align="left"><ul><li>What is the password?</li></ul></div></td>
		</tr>
		
		<tr>
			<td colspan="4" align="left"><input type="button" value="Test" onClick="parent.location='$autosub.WEBROOT/config/testNotify/growl'" /></td>
		</tr>
		
		<tr>
			<td colspan="4"><hr></td>
		</tr>
		
		<tr>
			<td width=50px" rowspan="4"><img src="$autosub.WEBROOT/images/notifiers/prowl.png" width="25px" height="24px" alt="" /></td>
			<td width="190px"><b><a href="http://www.prowlapp.com/" target="_blank">Prowl</a></b></td>
			<td><select name="notifyprowl">
				#if $autosub.NOTIFYPROWL
				  <option value="True" selected="selected">Enabled</option>
				  <option value="False">Disabled</option>
				#else
				  <option value="True">Enabled</option>
				  <option value="False" selected="selected">Disabled</option>
				#end if
			</select></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationNotifyProwl"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationNotifyProwl" class="dropdown-menu has-tip" align="left"><ul><li>When enabled Autosub will send a Prowl notification. Default is Disabled.</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">API</td>
			<td><input type="text" size="60" name="prowlapi" value="$autosub.PROWLAPI" /></td>
			<td width="25px" align="right"><a href='#' data-dropdown="#informationProwlApi"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationProwlApi" class="dropdown-menu has-tip" align="left"><ul><li>What API should I use? Your api key can be find by visiting: https://prowlapp.com/api_settings.php</li></ul></div></td>
		</tr>
		
		<tr>
			<td width="190px">Priority</td>
			<td>
				#set priormapper = {-2 : 'Very Low', -1 : 'Moderate', 0 : 'Normal', 1 : 'High', 2 : 'Emergency'}
				<select name="prowlpriority">
				#for $prior in $range(-2, 3, 1):
					#if $prior == $autosub.PROWLPRIORITY
						<option value="$prior" selected="selected">$priormapper[$prior]</option>
					#else
						<option value="$prior">$priormapper[$prior]</option>
					#end if
				#end for
				</select>
			</td>
			
			
			
			<td width="25px" align="right"><a href='#' data-dropdown="#informationProwlPriority"><img src="$autosub.WEBROOT/images/info.gif" width="20px" height="20px" alt="" /></a><div id="informationProwlPriority" class="dropdown-menu has-tip" align="left"><ul><li>What priority should be used to send the notification? Default is Normal</li></ul></div></td>
		</tr>

		<tr>
			<td colspan="4" align="left"><input type="button" value="Test" onClick="parent.location='$autosub.WEBROOT/config/testNotify/prowl'" /></td>
		</tr>
		
		<tr>
			<td colspan="4"><hr></td>
		</tr>
		
	</table>
