#import autosubliminal

<table>

    <tr>
	    <td colspan="2"><b>General</b><br /><br /></td>
	</tr>

    <tr>
		<td width="275px">Post-process</td>
		<td><select name="postprocess">
		    #if $autosubliminal.POSTPROCESS
                <option value="True" selected="selected">Enabled</option>
                <option value="False">Disabled</option>
            #else
                <option value="True">Enabled</option>
                <option value="False" selected="selected">Disabled</option>
            #end if
		</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationPostprocess"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationPostprocess" class="dropdown-menu has-tip" align="left"><ul><li>When enabled, the post processing CMD will be executed.<br />Default is Disabled.</li></ul></div></td>
	</tr>

	<tr>
		<td width="275px">UTF-8 encoding</td>
		<td><select name="postprocessutf8encoding">
		    #if $autosubliminal.POSTPROCESSUTF8ENCODING
                <option value="True" selected="selected">Enabled</option>
                <option value="False">Disabled</option>
            #else
                <option value="True">Enabled</option>
                <option value="False" selected="selected">Disabled</option>
            #end if
		</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationPostprocessutf8encoding"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationPostprocessutf8encoding" class="dropdown-menu has-tip" align="left"><ul><li>When enabled, the post processing CMD and arguments will be encoded in UTF-8.<br />This means that the post processing script will need to decode the arguments from UTF-8.<br />Default is Disabled.</li></ul></div></td>
	</tr>

	<tr>
        <td colspan="2"><hr></td>
    </tr>

	<tr>
	    <td colspan="2"><b>Show</b><br /><br /></td>
	</tr>

	<tr>
		<td width="275px">Post-process command</td>
		<td><input type="text" size="75" name="showpostprocesscmd" value="$autosubliminal.SHOWPOSTPROCESSCMD" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationShowpostprocesscmd"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationShowpostprocesscmd" class="dropdown-menu has-tip" align="left"><ul><li>Auto-Subliminal will run this command after downloading a subtitle for a show.</li></ul></div></td>
	</tr>

	<tr>
		<td width="275px">Post-process command arguments</td>
		<td><input type="text" size="75" name="showpostprocesscmdargs" value="$autosubliminal.SHOWPOSTPROCESSCMDARGS" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationShowpostprocesscmdargs"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationShowpostprocesscmdargs" class="dropdown-menu has-tip" align="left"><ul><li>Auto-Subliminal will pass these arguments to the command above after downloading a subtitle for a show.</li></ul></div></td>
	</tr>

	<tr>
        <td colspan="2"><hr></td>
    </tr>

	<tr>
	    <td colspan="2"><b>Movie</b><br /><br /></td>
	</tr>

	<tr>
		<td width="275px">Post-process command</td>
		<td><input type="text" size="75" name="moviepostprocesscmd" value="$autosubliminal.MOVIEPOSTPROCESSCMD" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationMoviepostprocesscmd"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationMoviepostprocesscmd" class="dropdown-menu has-tip" align="left"><ul><li>Auto-Subliminal will run this command after downloading a subtitle for a movie.</li></ul></div></td>
	</tr>

	<tr>
		<td width="275px">Post-process command arguments</td>
		<td><input type="text" size="75" name="moviepostprocesscmdargs" value="$autosubliminal.MOVIEPOSTPROCESSCMDARGS" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationMoviepostprocesscmdargs"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationMoviepostprocesscmdargs" class="dropdown-menu has-tip" align="left"><ul><li>Auto-Subliminal will pass these arguments to the command above after downloading a subtitle for a movie.</li></ul></div></td>
	</tr>

</table>
