#import autosubliminal

<b>Skip show</b><br /><br />

<textarea rows="10" cols="75" name="skipshow">$autosubliminal.config.display_skipshow</textarea>

<table>
	<tr>
		<td width="140px">Information</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationSkipshowInfo"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationSkipshowInfo" class="dropdown-menu has-tip" align="left"><ul><li>Required. It allows the user to skip a show or a show season</li></ul></div></td>
	</tr>

	<tr>
		<td width="140px">Example</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationSkipshowExample"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationSkipshowExample" class="dropdown-menu has-tip" align="left"><ul><li>Serie Name = 0 (this will skip the show 'Serie Name' completely<br />
Another Serie name = 1,5,6 (this will skip the show 'Another Serie Name' season 1, 5 and 6<br />
Show Name = 00,6,7 (this will skip the show 'Show Name' season 00 (specials), 6 and 7. <br />
00 is different then 0, 0 skips a show, 00 skips specials (season 0)</li></ul></div></td>
	</tr>
</table>

<tr>
    <td colspan="2"><hr></td>
</tr>

<b>Skip movie</b><br /><br />

<textarea rows="10" cols="75" name="skipmovie">$autosubliminal.config.display_skipmovie</textarea>

<table>
	<tr>
		<td width="140px">Information</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationSkipmovieInfo"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationSkipmovieInfo" class="dropdown-menu has-tip" align="left"><ul><li>Required. It allows the user to skip a movie</li></ul></div></td>
	</tr>

    <tr>
		<td width="140px">Example</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationSkipmovieExample"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationSkipmovieExample" class="dropdown-menu has-tip" align="left"><ul><li>Title (Year) = 0</li></ul></div></td>
	</tr>
</table>
