#import autosubliminal

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/header.tmpl")

<div>
  <div id="content">

Auto-Subliminal is shutting down...

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/footer.tmpl")