#import autosub

#include $os.path.join($autosub.PATH.encode(), "interface/templates/header.tmpl")

<div>
  <div id="content">

AutoSub is shutting down...

#include $os.path.join($autosub.PATH.encode(), "interface/templates/footer.tmpl")