#import subliminal

#import autosubliminal

<table>

    <tr>
		<td width="225px" colspan="2"><b>General</b><br /><br /></td>
    </tr>

    <tr>
		<td width="225px">Show MinMatchScore</td>
		<td>

		<input type="hidden" name="showmmsdefault" value="1">

		Source:
		#if $autosubliminal.SHOWMATCHSOURCE
			<input type="checkbox" name="showmmssource" value="1" checked="checked">
		#else
			<input type="checkbox" name="showmmssource" value="0">
		#end if

		Quality:
		#if $autosubliminal.SHOWMATCHQUALITY
			<input type="checkbox" name="showmmsquality" value="1" checked="checked">
		#else
			<input type="checkbox" name="showmmsquality" value="0">
		#end if

		Codec:
		#if $autosubliminal.SHOWMATCHCODEC
			<input type="checkbox" name="showmmscodec" value="1" checked="checked">
		#else
			<input type="checkbox" name="showmmscodec" value="0">
		#end if

		Group:
		#if $autosubliminal.SHOWMATCHRELEASEGROUP
			<input type="checkbox" name="showmmsreleasegroup" value="1" checked="checked">
		#else
			<input type="checkbox" name="showmmsreleasegroup" value="0">
		#end if

		</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationShowminmatchscore"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a>
		<div id="informationShowminmatchscore" class="dropdown-menu has-tip" align="left"><ul><li>
		What items should match before a show subtitle is downloaded via the API?
		</li></ul></div></td>
	</tr>

	<tr>
		<td width="225px">Movie MinMatchScore</td>
		<td>

		<input type="hidden" name="moviemmsdefault" value="1">

		Source:
		#if $autosubliminal.MOVIEMATCHSOURCE
			<input type="checkbox" name="moviemmssource" value="1" checked="checked">
		#else
			<input type="checkbox" name="moviemmssource" value="0">
		#end if

		Quality:
		#if $autosubliminal.MOVIEMATCHQUALITY
			<input type="checkbox" name="moviemmsquality" value="1" checked="checked">
		#else
			<input type="checkbox" name="moviemmsquality" value="0">
		#end if

		Codec:
		#if $autosubliminal.MOVIEMATCHCODEC
			<input type="checkbox" name="moviemmscodec" value="1" checked="checked">
		#else
			<input type="checkbox" name="moviemmscodec" value="0">
		#end if

		Group:
		#if $autosubliminal.MOVIEMATCHRELEASEGROUP
			<input type="checkbox" name="moviemmsreleasegroup" value="1" checked="checked">
		#else
			<input type="checkbox" name="moviemmsreleasegroup" value="0">
		#end if

		</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationMovieminmatchscore"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a>
		<div id="informationMovieminmatchscore" class="dropdown-menu has-tip" align="left"><ul><li>
		What items should match before a movie subtitle is downloaded via the API?
		</li></ul></div></td>
	</tr>

	<tr>
		<td width="180px" style="vertical-align:top;">Subliminal providers</td>
		<td>
		    #set $providers = $autosubliminal.SUBLIMINALPROVIDERSENTRYPOINT.keys()
		    <select multiple="mutiple" name="subliminalproviders" size="$len(providers)">
		    #for provider in $providers:
                #if $provider in $autosubliminal.SUBLIMINALPROVIDERLIST:
                    <option selected="selected" value="$provider">$provider</option>
                #else:
                    <option value="$provider">$provider</option>
                #end if
		    #end for
            </select>
		</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationProviders"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationProviders" class="dropdown-menu has-tip" align="left"><ul><li>Which providers should be used for searching and downloading subtitles?</li></ul></div></td>
	</tr>

	<tr>
		<td width="225px">Include hearing impaired subs</td>
		<td><select name="includehearingimpaired">
            #if $autosubliminal.INCLUDEHEARINGIMPAIRED
                <option value="True" selected="selected">Enabled</option>
                <option value="False">Disabled</option>
            #else
                <option value="True">Enabled</option>
                <option value="False" selected="selected">Disabled</option>
            #end if
		</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationIncludeHearingimpaired"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationIncludeHearingimpaired" class="dropdown-menu has-tip" align="left"><ul><li>When enabled, also 'hearing impaired' subtitles can be downloaded.<br />Default is Disabled.</li></ul></div></td>
	</tr>

    <tr>
        <td colspan="2"><hr></td>
    </tr>

    <tr>
		<td width="225px" colspan="2"><b>Addic7ed provider</b></td>
    </tr>

    <tr>
        <td colspan="2"><b>WARNING</b>: Password is stored in plaintext!<br /><br /></td>
    </tr>

    <tr>
		<td width="225px">Username</td>
        <td><input type="text" name="addic7edusername" value="$autosubliminal.ADDIC7EDUSERNAME" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationAddic7edUsername"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationAddic7edUsername" class="dropdown-menu has-tip" align="left"><ul><li>Username for your Addic7ed account.</li></ul></div></td>
	</tr>
    <tr>
		<td width="225px">Password</td>
        <td><input type="password" name="addic7edpassword" value="$autosubliminal.ADDIC7EDPASSWORD" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationAddic7edPassword"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationAddic7edPassword" class="dropdown-menu has-tip" align="left"><ul><li>Password for your Addic7ed account.</li></ul></div></td>
	</tr>

	<!-- TODO: still need some work
	<tr>
		<td width="180px" style="vertical-align:top;">Subliminal score matching</td>
		<td>
		    <table>
		        <tr>
		            <td>
                        Audio Codec (value = 1):
                    </td>
                    <td>
                        #if True
                            <input type="checkbox" name="mmsaudiocodec" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsaudiocodec" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Video Codec (value = 2):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsvideocodec" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsvideocodec" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Format (value = 2):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsresolution" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsresolution" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Format (value = 3):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsformat" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsformat" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Release Group (value = 6):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsreleasegroup" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsreleasegroup" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Season (value = 6):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsseason" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsseason" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Episode (value = 6):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsepisode" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsepisode" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Title (value = 12):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmstitle" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmstitle" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Year (value = 24):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsyear" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsyear" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Series (value = 24):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsseries" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsseries" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                TVDB ID (value = 48):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmstvdbid" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmstvdbid" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                IMDB ID (value = 60):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmsimdbid" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmsimdbid" value="0">
                        #end if
		            </td>
		        </tr>
		        <tr>
		            <td>
		                Hash (value = 74):
		            </td>
		            <td>
                        #if True
                            <input type="checkbox" name="mmshash" value="1" checked="checked">
                        #else
                            <input type="checkbox" name="mmshash" value="0">
                        #end if
		            </td>
		        </tr>

		    </table>
		</td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationProviders"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationProviders" class="dropdown-menu has-tip" align="left"><ul><li>Which providers should be used for searching and downloading subtitles?</li></ul></div></td>
	</tr>
	-->

</table>
