#import autosub
#from string import capwords

#include $os.path.join($autosub.PATH.encode(), "interface/templates/header.tmpl")

#include $os.path.join($autosub.PATH.encode(), "interface/templates/menu.tmpl")

<table width="100%">
	<tr>
		<td align="left"><b><font style="font-size: x-large;">Log File</font></b></td>
		<td align="right"><font style="font-size: large;">$capwords($loglevel)</font></td>
	</tr>
</table>
<div style="width:100%;height:700px;overflow:auto;overflow-x:hidden;border-top-width:2px;border-top-style:solid;">
	<pre>
#if $message
$message
#else
There is currently no $loglevel.lower() information in your log file, make sure your loglevel is atleast: $capwords($loglevel).
You can change the loglevel in your <a href="$autosub.WEBROOT/config/#logfile"><u>configuration</u></a>
#end if
	</pre>
</div>

#include $os.path.join($autosub.PATH.encode(), "interface/templates/footer.tmpl")
