#import autosubliminal

<table>
	<tr>
		<td width="120px">Webserverip</td>
		<td><input type="text" name="webserverip" value="$autosubliminal.WEBSERVERIP" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationWebserverIP"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationWebserverIP" class="dropdown-menu has-tip" align="left"><ul><li>To allow hosts to connect to any ip number assign to the machine use '0.0.0.0'</li></ul></div></td>
	</tr>

	<tr>
		<td width="120px">Webserverport</td>
		<td><input type="text" name="webserverport" value="$autosubliminal.WEBSERVERPORT" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationWebserverport"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationWebserverport" class="dropdown-menu has-tip" align="left"><ul><li>Set port</li></ul></div></td>
	</tr>

	<tr>
        <td width="120px">Webroot</td>
        <td><input type="text" name="webroot" value="$autosubliminal.WEBROOT" /></td>
        <td width="25px" align="right"><a href='#' data-dropdown="#informationWebroot"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationWebroot" class="dropdown-menu has-tip" align="left"><ul><li>Set Webroot for reverse proxying. Example: to proxy it to http://localhost/autosubliminal/ webroot needs to be: /autosubliminal</li></ul></div></td>
    </tr>

	<tr>
		<td width="120px">Username</td>
		<td><input type="text" name="username" value="$autosubliminal.USERNAME" /> </td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationUsername"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationUsername" class="dropdown-menu has-tip" align="left"><ul><li>If a username and password are set, the webserver requires authentication. Otherwise no authentication is set or required</li></ul></div></td>
	</tr>

	<tr>
		<td width="120px">Password</td>
		<td><input type="password" name="password" value="$autosubliminal.PASSWORD" /></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationPassword"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationPassword" class="dropdown-menu has-tip" align="left"><ul><li>Set password</li></ul></div></td>
	</tr>

    <tr>
		<td width="120px">Launchbrowser</td>
		<td><select name="launchbrowser">
            #if $autosubliminal.LAUNCHBROWSER
                <option value="True" selected="selected">Enabled</option>
                <option value="False">Disabled</option>
            #else
                <option value="True">Enabled</option>
                <option value="False" selected="selected">Disabled</option>
            #end if
		</select></td>
		<td width="25px" align="right"><a href='#' data-dropdown="#informationLauchbrowser"><img src="$autosubliminal.WEBROOT/images/info.png" alt="info" title="Click for more info" /></a><div id="informationLauchbrowser" class="dropdown-menu has-tip" align="left"><ul><li>Should we start a browser every time Auto-Subliminal starts? This overwrites the commandline parameters</li></ul></div></td>
	</tr>

</table>
