#import autosubliminal

#from autosubliminal.templates.PageTemplate import PageTemplate
#extends PageTemplate

#block bodyContent

#include $os.path.join($autosubliminal.PATH.encode(), "web/templates/home/inc_home-wanteditems.tmpl")

#include $os.path.join($autosubliminal.PATH.encode(), "web/templates/home/inc_home-lastdownloads.tmpl")

#end block bodyContent

#block footerContent

<div id="discarded-providers" class="hidden">$autosubliminal.SUBLIMINALDISCARDEDPROVIDERS</div>

<script type="text/javascript" src="$autosubliminal.WEBROOT/js/home.js"></script>

#end block footerContent
