#import autosubliminal

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Auto-Subliminal</title>

<!-- Bootstrap themes -->
<link rel="stylesheet" href="$autosubliminal.WEBROOT/css/bootstrap.css" media="screen">
<link rel="stylesheet" href="$autosubliminal.WEBROOT/css/bootstrap-theme.css" media="screen">

<!-- JQuery plugin themes -->
<link rel="stylesheet" href="$autosubliminal.WEBROOT/css/pnotify.css" media="screen">

<!-- Auto-Subliminal theme -->
<link rel="stylesheet" href="$autosubliminal.WEBROOT/css/autosubliminal.css" media="screen">

<script type="text/javascript">
    // Global webroot variable (can be used in Javascript files)
    var webroot = "$autosubliminal.WEBROOT";
</script>