#import time

#import autosubliminal
#from autosubliminal import version
#from autosubliminal.utils import get_next_scheduler_run_in_ms

<!-- Footer -->
<div class="navbar navbar-fixed-bottom panel-footer text-center">
    <input type="hidden" id="scandisk-nextrun-time-ms" value="$get_next_scheduler_run_in_ms($autosubliminal.SCANDISK)">
    <input type="hidden" id="checksub-nextrun-time-ms" value="$get_next_scheduler_run_in_ms($autosubliminal.CHECKSUB)">
    <span>Auto-Subliminal version : $version.RELEASE_VERSION</span>
    <span class="separator">|</span>
    <span>
        Next disk scan in :
        <span id="scandisk-nextrun"></span>
    </span>
    <span class="separator">|</span>
    <span>
        Next subtitle check in :
        <span id="checksub-nextrun"></span>
    </span>
</div>

<!-- Jquery javascript -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery-ui.js"></script>

<!-- Jquery plugins javascript -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery.tablesorter.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery.tablesorter.widgets.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/widget-reflow.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery.countdown.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/pnotify.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/pnotify.buttons.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/pnotify.desktop.js"></script>

<!-- Bootstrap javascript -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/bootstrap.js"></script>

<!-- Bootstrap plugins javascript -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/bootstrap-hover-dropdown.js"></script>

<!-- General Auto-Subliminal javascript (applies to all pages) -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/autosubliminal.js"></script>