#import time

#import autosubliminal
#from autosubliminal import version

<!-- Footer -->
<div class="navbar navbar-fixed-bottom panel-footer text-center">
    <span>Auto-Subliminal version : $version.RELEASE_VERSION</span>
    <span class="separator">|</span>
    <span>Next disk scan in :
        #try
            $time.strftime('%H:%M:%S', $time.gmtime(($autosubliminal.SCANDISK.interval - ($time.time() - $autosubliminal.SCANDISK.last_run) )))
        #except
            Please wait...
        #end try
    </span>
    <span class="separator">|</span>
    <span>
        Next subtitle check in :
        #try
            $time.strftime('%H:%M:%S', $time.gmtime(($autosubliminal.CHECKSUB.interval - ($time.time() - $autosubliminal.CHECKSUB.last_run) )))
        #except
            Please wait...
        #end try
    </span>
</div>

<!-- Jquery javascript -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery-ui.js"></script>

<!-- Jquery plugins javascript -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery.tablesorter.js"></script>
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery.hoverIntent.js"></script>

<!-- Bootstrap javascript -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/bootstrap.js"></script>

<!-- Bootstrap hover dropdown javascript -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/bootstrap-hover-dropdown.js"></script>

<!-- General Auto-Subliminal javascript (applies to all pages) -->
<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/autosubliminal.js"></script>