<!-- Input multi text -->
<div class="input-multi-text">
  <!-- Existing fields -->
  <div class="p-inputgroup" *ngFor="let value of values; let i=index; trackBy:trackValueByIndex">
    <div class="p-inputgroup">
      <input type="text" pInputText [id]="(id || formControlName) + i" [value]="value" (keyup)="onValueKeyup($event, value)">
      <p-button icon="pi pi-folder-open" styleClass="p-button-outlined input-addon" (onClick)="openFileBrowser(value, i)"></p-button>
      <p-button icon="pi pi-times" styleClass="p-button-outlined input-addon" (onClick)="removeValue(value)"></p-button>
    </div>
  </div>
  <!-- New field -->
  <div class="p-inputgroup">
    <div class="p-inputgroup">
      <input type="text" pInputText [id]="(id || formControlName) + 'New'" [(ngModel)]="newValue" [ngClass]="validationClass" (keyup)="onNewValueKeyup($event)" placeholder="New value">
      <p-button icon="pi pi-folder-open" styleClass="p-button-outlined input-addon" (onClick)="openFileBrowser(newValue, -1)"></p-button>
      <p-button icon="pi pi-plus" styleClass="p-button-outlined input-addon" (onClick)="addNewValue()" [disabled]="addButtonDisabled"></p-button>
    </div>
  </div>
  <!-- File browser -->
  <app-file-browser *ngIf="showFileBrowser"
                    [(visible)]="showFileBrowser"
                    [path]="browserPath"
                    [folderMode]="folderMode"
                    (pathChange)="setFilePath($event)">
  </app-file-browser>
  <!-- Hidden input -->
  <input type="hidden" [id]="id || formControlName" [formControl]="control">
</div>
