@import '../../../../scss/variables';
@import '../../../../scss/mixins/flexbox';
@import '../../../../scss/components/images';

.overview-container {
  border: 1px solid var(--surface-d);
  border-radius: 0.25rem;
  padding: 1rem;

  .overview-image {
    @extend .image-box;
    @extend .image-hover;
    width: 100%;
  }

  .overview-data {
    @include flexbox;
    @include justify-content(space-between);

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
}
