/*!
 * Auto-Subliminal style.
 */

// *************
// * Variables *
// *************

// Small devices (landscape phones, 480px and up)
$var-till-width-xs: 479px;
$var-from-width-xs: 480px;

// Medium devices (tablets, 768px and up)
$var-till-width-sm: 767px;
$var-from-width-sm: 768px;

// Large devices (desktops, 992px and up)
$var-till-width-lg: 991px;
$var-from-width-lg: 992px;

// Extra large devices (large desktops, 1200px and up)
$var-till-width-xl: 1199px;
$var-from-width-xl: 1200px;

/*******************
 * GENERAL STYLING *
 *******************/

// Set html body color
html, body {
  background-color: #eeeeee;
}

// Set textarea resize
textarea {
  resize: vertical;
}

.btn-gray {
  background-color: #eeeeee;
}

.btn-static {
  background-color: white;
  border: 1px solid lightgrey;
  cursor: default;

  &:active {
    -moz-box-shadow: inset 0 0 0 white;
    -webkit-box-shadow: inset 0 0 0 white;
    box-shadow: inset 0 0 0 white;
  }
}

.datetime {
  min-width: 90px;
}

.error-traceback {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  text-align: left;
  white-space: pre; // Needed to get \r\n working inside div
}

// Style a banner title in tablesorter reflow mode
@media (max-width: 48em) {
  .title-banner-image, .path {
    width: 50%;
    float: right;
  }
}

// Based on boostrap label with background
.file-type-badge {
  display: inline-block;
  width: auto;
  padding: 4px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25em;
  background-color: #dddddd;
  margin-right: 8px;

  &.right-aligned {
    margin-right: 0;
    margin-left: 8px;
  }
}

.img-notifier {
  height: 24px;
  width: 25px;
}

// Based on boostrap label with background
.language-badge {
  display: inline-block;
  width: auto;
  min-width: 25px;
  padding: 4px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25em;
  background-color: #777777;
  margin-right: 8px;

  &.right-aligned {
    margin-right: 0;
    margin-left: 8px;
  }

  // Nested badge inside language badge to show number of subtitles for the language
  .badge {
    color: #000000;
    background-color: #dddddd;
  }
}

.language-icon {
  height: 18px;
  width: auto;
}

.library-scanner-running {
  font-weight: bold;
}

.main-column {
  color: #333333;
  font-weight: bold;
  text-decoration: none !important;
}

.title-poster-container {
  display: table;

  .title-poster-cell {
    display: table-cell;
    vertical-align: middle;
  }

  .title-poster-image {
    height: 55px;
  }

  .title-poster-text {
    margin-left: 10px;
  }
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;

  &-top {
    padding-top: 0;
  }

  &-bottom {
    padding-bottom: 0;
  }
}

.no-border-bottom {
  border-bottom: 0 none transparent;
}

.note {
  font-size: 80%;
  font-style: italic;
}

.pre-scrollable-x {
  word-wrap: normal;
  overflow-x: scroll;
}

.scheduler-running {
  background-color: #dff0d8 !important; // Bootstrap bg-success background color, but with !important
}

.separator {
  padding: 0 5px;
}

.sticky-notification {
  padding: 8px 0 5px 0;
}

.table-filter {
  text-align: center;
  margin-bottom: 5px;

  // Align table-filter on larger screens (same width as switch in bootstrap from xs to sm)
  @media (min-width: $var-from-width-sm) {
    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }
  }

  input, select {
    display: inline-block;
    width: auto;
  }

  .table-filter-label {
    font-weight: bold;
  }
}

.vertical-center {
  .row {
    display: flex;
    align-items: center;
  }
}

.weighted {
  font-weight: 700;
}

.wrapped {
  word-wrap: break-word;
  word-break: break-all;
}

.log-pagination {
  display: inline-block;
  padding: 0;
  margin: 0;

  .log-page.badge {
    background-color: #ffffff;
    font-weight: normal;

    &.selected {
      background-color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

/******************
 * NAVBAR STYLING *
 ******************/

// Make sure the navbar does not become higher when screensize is too low
nav {
  min-width: 380px;
}

.navbar {
  &.navbar-footer-small {
    min-height: 0;
    padding: 5px 0;
  }

  .navbar-brand {
    margin-left: 0 !important;

    @media (max-width: $var-till-width-sm) {
      margin-left: 15px !important;
    }
  }

  // Resize brand to 40px (instead of 50px) on smaller screens
  @media (max-width: $var-till-width-lg) {
    .navbar-brand img {
      height: 40px;
      position: absolute;
      top: 5px;
    }
  }
}

/*********************
 * JUMBOTRON STYLING *
 *********************/

.jumbotron-global {
  background-color: #eeeeee;
  margin-bottom: 0;
  padding-top: 48px; // Keep same bootstrap jumbotron padding when resizing screensize < 768px
}

.jumbotron-body {
  background-color: #eeeeee;
}

/*********************
 * ICON LINK STYLING *
 *********************/

a {
  &:hover, &:active, &:focus, &:visited > .fa {
    text-decoration: none; // Remove underline after icon on hover, active, focus and visited
  }
}

/********************
 * DROPDOWN STYLING *
 ********************/

.dropdown-toggle {
  cursor: pointer;

  &:hover, &:active, &:focus, &:visited {
    text-decoration: none; // Remove underline after icon on hover, active, focus and visited
  }
}

/*************************
 * DROPDOWN MENU STYLING *
 *************************/

.dropdown-hoverintent {
  cursor: pointer;
}

.dropdown-menu {
  cursor: pointer;

  &.dropdown-menu-inverse {
    background-color: #222222;
    border-color: #080808;

    > li > a {
      color: #999999;

      &:hover {
        background-color: #ffffff;
        color: #000000;
      }
    }

    > .divider {
      background-color: #000000;
    }
  }

  &.info-list {
    padding: 10px 10px;
    white-space: nowrap;
    font-weight: normal;
    font-style: italic;

    .info-list-label {
      font-weight: bold;
      font-style: normal;
    }
  }

  &.has-tip {
    margin-top: 8px;

    &:before {
      position: absolute;
      top: -6px;
      left: 1px;
      content: "";
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      border-bottom: 7px solid rgba(0, 0, 0, 0.2);
      display: inline-block;
    }

    &:after {
      position: absolute;
      top: -5px;
      left: 2px;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      display: inline-block;
    }

    &.anchor-right:before {
      left: auto;
      right: 1px;
    }

    &.anchor-right:after {
      left: auto;
      right: 2px;
    }
  }
}

/*****************
 * MODAL STYLING *
 *****************/

.modal-dialog {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;

  @media (max-width: $var-till-width-sm) {
    width: 100%;
    margin: 0;
  }
}

/***********************
 * FA-CHECKBOX STYLING *
 ***********************/

/* Usage: */
/*
<span class="fa-checkbox">
    <input type="checkbox" id="myCheckbox" checked>
    <label for="myCheckbox">check me</label>
</span>
*/

.fa-checkbox {
  input[type=checkbox] {
    display: none; // Hide the checkbox itself

    // Label styling
    + label {
      font-weight: normal;

      // Unchecked icon styling
      &:before {
        font-family: FontAwesome, serif;
        display: inline-block;
        content: "\f096";
        letter-spacing: 7px;
      }
    }

    // Checked icon styling
    &:checked + label:before {
      content: "\f046";
      letter-spacing: 5px;
    }
  }
}

/*******************
 * PNOTIFY STYLING *
 *******************/

.ui-pnotify {
  &.stack-context {
    position: static;
    // create center align
    margin-left: auto;
    margin-right: auto;
    text-wrap: none;
  }
}

/***********************
 * TABLESORTER STYLING *
 ***********************/

table.tablesorter {
  thead tr {
    .tablesorter-header {
      // Black (unsorted) double arrow (with spacing!)
      background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
      // background-image: url(../images/vendor/tablesorter/black-unsorted.gif);
      background-repeat: no-repeat;
      background-position: center right;
      vertical-align: middle;
      cursor: pointer;
    }

    .tablesorter-headerAsc {
      // Black asc arrow (with spacing!)
      background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
      // background-image: url(../images/vendor/tablesorter/black-asc.gif);
      background-color: #dddddd;
    }

    .tablesorter-headerDesc {
      // Black desc arrow (with spacing!)
      background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
      // background-image: url(../images/vendor/tablesorter/black-desc.gif);
      background-color: #dddddd;
    }

    .sorter-false {
      background-image: none;
      cursor: default;
      padding: 4px;
    }
  }

  // Needed to get the filtering working
  // Rows hidden by filtering (needed for child rows)
  .filtered {
    display: none;
  }
}

.tablesorter-pager select {
  border-radius: 3px;
}

/*************************************************************************************************
 * Copied from https://mottie.github.io/tablesorter/docs/example-widget-reflow.html#required_css *
 * DO NOT CONVERT THIS TO SASS BECAUSE WE WANT TO BE ABLE TO COMPARE WHEN CHANGED UPSTREAM!      *
 *************************************************************************************************/

/* REQUIRED CSS: change your reflow breakpoint here (35em below) */
@media (max-width: 48em) {

  /* uncomment out the line below if you don't want the sortable headers to show */
  /* table.ui-table-reflow thead { display: none; } */

  /* css for reflow & reflow2 widgets */
  .ui-table-reflow td,
  .ui-table-reflow th {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    /* if not using the stickyHeaders widget (not the css3 version)
     * the "!important" flag, and "height: auto" can be removed */
    width: 100% !important;
    height: auto !important;
  }

  /* reflow widget only */
  .ui-table-reflow tbody td[data-title]:before {
    color: #469;
    font-size: .9em;
    content: attr(data-title);
    float: left;
    width: 50%;
    white-space: pre-wrap;
    vertical-align: bottom;
    display: inline-block;
  }

  /* reflow2 widget only */
  table.ui-table-reflow .ui-table-cell-label.ui-table-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 400;
  }

  table.ui-table-reflow .ui-table-cell-label {
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
  }
}

/* end media query */

/* reflow2 widget */
.ui-table-reflow .ui-table-cell-label {
  display: none;
}

/************
 * End copy *
 ************/

/*****************
 * TABLE STYLING *
 *****************/

// Always use bootstrap 'table' class by default on all tables to apply our styling!
table.table {
  border: 1px solid #dddddd;

  thead tr th, tfoot tr th {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 5px 17px 5px 4px;
    vertical-align: middle;
  }

  tbody {
    tr td {
      border: 1px dotted #eeeeee;
      vertical-align: middle;
    }

    // Inactive rows - grey out and set background color
    tr.inactive td {
      color: rgb(0, 0, 0);
      color: rgba(0, 0, 0, 0.5);
      background-color: #ffffff;

      // Grey out underlying items
      * {
        color: rgb(0, 0, 0);
        color: rgba(0, 0, 0, 0.5);
      }

      // Grey out images (rgba has no effect on images, so use opacity instead)
      img {
        opacity: 0.5;
      }
    }
  }

  // No borders
  &.table-no-column-borders {
    thead th, tfoot th {
      border: none;
      border-bottom: 1px solid #dddddd;
    }

    tbody tr td {
      border: none;
    }
  }

  // Do not foresee space for sort icon
  &.table-no-sort {
    thead th, tfoot th {
      padding-right: 4px;
    }
  }

  // Striped settings by adding 'table-striped' class -> based on bootstrap classes
  &.table-striped {
    tbody tr {
      &:nth-of-type(even) {
        background-color: #f6f6f6;
      }

      &:nth-of-type(odd) {
        background-color: #fafafa;
      }
    }
  }

  // Hover settings by adding 'table-hover' class -> based on bootstrap classes
  &.table-hover {
    tbody tr:hover {
      background-color: #f3f3f3;
    }
  }
}

/*********************
 * FORMGROUP STYLING *
 *********************/

.form-group {
  &.narrow {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &.section-title {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .checkbox-inline.aligned {
    padding-top: 0;
    margin-bottom: 5px;
  }
}

/************************
 * MANUALSEARCH STYLING *
 ************************/

.container-manualsearch {
  width: 750px;
  text-align: center;
  margin: 0;

  .container-manualsearch-link {
    text-decoration: none !important;
    font-weight: bold;
    white-space: nowrap;
  }

  .subtitle-action {
    &:hover, &:active, &:focus, &:visited {
      text-decoration: none; // Remove underline after icon on hover, active, focus and visited
    }
  }

  .subtitle-preview {
    height: 100px;
    overflow: scroll;
  }
}

/****************************
 * LIBRARY OVERVIEW STYLING *
 ****************************/

.overview-container {
  border: 1px solid #101010;
  border-radius: 5px;
  margin: 15px 0;

  > div {
    background-color: #333333;
    border-radius: 3px;
    padding: 15px;
  }

  .overview-data {
    padding: 5px;
    color: #ffffff;

    // Align left on smaller screens, even when it's set to align right
    @media (max-width: $var-till-width-sm) {
      .text-right {
        text-align: left;
      }
    }
  }

  .overview-image {
    width: 100%;
  }
}

/******************************
 * MOVIE/SHOW DETAILS STYLING *
 *****************************/

.details-container {
  display: table;
  width: 100%;

  .details-poster-container {
    display: table-cell;

    @media (max-width: $var-till-width-sm) {
      width: 100%;
      float: left;
      text-align: center;
    }

    .details-poster-image {
      width: 150px;
    }
  }

  .details-info-container {
    display: table-cell;
    width: 100%;
    vertical-align: top;

    @media (max-width: $var-till-width-sm) {
      padding-top: 20px;
    }

    .details-info-title {
      font-size: 24px;

      @media (max-width: $var-till-width-sm) {
        text-align: center;
      }
    }

    .details-info-summary {
      margin-top: 20px;
      width: 100%;

      td {
        padding-bottom: 5px;
        vertical-align: middle;
      }
    }
  }

  .details-files-container {
    display: table;
    width: 100%;

    .details-files-title {
      display: table;
      width: 100%;
      font-size: 24px;

      > div {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .details-files-progress {
      width: 150px;
    }

    .details-files-season {
      width: 100%;
    }

    .details-files-file {
      color: #333333;
      text-decoration: none !important;
    }
  }
}

/*******************************
 * MOVIE/SHOW SETTINGS STYLING *
 *******************************/

.settings-container {
  display: table;
  width: 100%;

  .settings-poster-container {
    display: table-cell;

    @media (max-width: $var-till-width-sm) {
      width: 100%;
      float: left;
      text-align: center;
    }

    .settings-poster-image {
      width: 175px;

      @media (max-width: $var-till-width-sm) {
        width: 100px;
      }
    }
  }

  .settings-info-container {
    display: table-cell;
    width: 100%;
    vertical-align: top;

    @media (max-width: $var-till-width-sm) {
      display: table;
      padding-top: 20px;
    }

    .settings-info-title {
      font-size: 20px;
      padding-right: 0;

      @media (max-width: $var-till-width-sm) {
        text-align: center;
        padding-left: 0;
      }
    }

    .settings-info-settings {
      padding-right: 0;

      @media (max-width: $var-till-width-sm) {
        padding-left: 0;
      }

      .row {
        padding: 5px;
      }

      @media (max-width: $var-till-width-sm) {
        .vertical-center {
          .row {
            display: block;
            padding: 5px 0;
          }
        }
      }
    }
  }
}

// Style modal on larger devices
@media (min-width: $var-from-width-sm) {
  .settings-modal {
    width: 750px;
  }
}

/***********************
 * PROGRESSBAR STYLING *
 **********************/

// Based on https://stackoverflow.com/questions/7128675/from-green-to-red-color-depend-on-percentage

.progress-0 {
  background-image: -moz-linear-gradient(rgb(100, 0, 0), rgb(200, 2, 0)) !important;
  background-image: linear-gradient(rgb(100, 0, 0), rgb(200, 2, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(100, 0, 0), rgb(200, 2, 0)) !important;
  background-image: -o-linear-gradient(rgb(100, 0, 0), rgb(200, 2, 0)) !important;
}

.progress-5 {
  background-image: -moz-linear-gradient(rgb(200, 2, 0), rgb(255, 28, 0)) !important;
  background-image: linear-gradient(rgb(200, 2, 0), rgb(255, 28, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(200, 2, 0), rgb(255, 28, 0)) !important;
  background-image: -o-linear-gradient(rgb(200, 2, 0), rgb(255, 28, 0)) !important;
}

.progress-10 {
  background-image: -moz-linear-gradient(rgb(255, 28, 0), rgb(255, 53, 0)) !important;
  background-image: linear-gradient(rgb(255, 28, 0), rgb(255, 53, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 28, 0), rgb(255, 53, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 28, 0), rgb(255, 53, 0)) !important;
}

.progress-15 {
  background-image: -moz-linear-gradient(rgb(255, 53, 0), rgb(255, 78, 0)) !important;
  background-image: linear-gradient(rgb(255, 53, 0), rgb(255, 78, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 53, 0), rgb(255, 78, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 53, 0), rgb(255, 78, 0)) !important;
}

.progress-20 {
  background-image: -moz-linear-gradient(rgb(255, 78, 0), rgb(255, 103, 0)) !important;
  background-image: linear-gradient(rgb(255, 78, 0), rgb(255, 103, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 78, 0), rgb(255, 103, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 78, 0), rgb(255, 103, 0)) !important;
}

.progress-25 {
  background-image: -moz-linear-gradient(rgb(255, 103, 0), rgb(255, 129, 0)) !important;
  background-image: linear-gradient(rgb(255, 103, 0), rgb(255, 129, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 103, 0), rgb(255, 129, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 103, 0), rgb(255, 129, 0)) !important;
}

.progress-30 {
  background-image: -moz-linear-gradient(rgb(255, 129, 0), rgb(255, 154, 0)) !important;
  background-image: linear-gradient(rgb(255, 129, 0), rgb(255, 154, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 129, 0), rgb(255, 154, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 129, 0), rgb(255, 154, 0)) !important;
}

.progress-35 {
  background-image: -moz-linear-gradient(rgb(255, 154, 0), rgb(255, 179, 0)) !important;
  background-image: linear-gradient(rgb(255, 154, 0), rgb(255, 179, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 154, 0), rgb(255, 179, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 154, 0), rgb(255, 179, 0)) !important;
}

.progress-40 {
  background-image: -moz-linear-gradient(rgb(255, 179, 0), rgb(255, 204, 0)) !important;
  background-image: linear-gradient(rgb(255, 179, 0), rgb(255, 204, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 179, 0), rgb(255, 204, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 179, 0), rgb(255, 204, 0)) !important;
}

.progress-45 {
  background-image: -moz-linear-gradient(rgb(255, 204, 0), rgb(255, 230, 0)) !important;
  background-image: linear-gradient(rgb(255, 204, 0), rgb(255, 230, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 204, 0), rgb(255, 230, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 204, 0), rgb(255, 230, 0)) !important;
}

.progress-50 {
  background-image: -moz-linear-gradient(rgb(255, 230, 0), rgb(255, 255, 0)) !important;
  background-image: linear-gradient(rgb(255, 230, 0), rgb(255, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 230, 0), rgb(255, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 230, 0), rgb(255, 255, 0)) !important;
}

.progress-55 {
  background-image: -moz-linear-gradient(rgb(255, 255, 0), rgb(230, 255, 0)) !important;
  background-image: linear-gradient(rgb(255, 255, 0), rgb(230, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(255, 255, 0), rgb(230, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(255, 255, 0), rgb(230, 255, 0)) !important;
}

.progress-60 {
  background-image: -moz-linear-gradient(rgb(230, 255, 0), rgb(204, 255, 0)) !important;
  background-image: linear-gradient(rgb(230, 255, 0), rgb(204, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(230, 255, 0), rgb(204, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(230, 255, 0), rgb(204, 255, 0)) !important;
}

.progress-65 {
  background-image: -moz-linear-gradient(rgb(204, 255, 0), rgb(179, 255, 0)) !important;
  background-image: linear-gradient(rgb(204, 255, 0), rgb(179, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(204, 255, 0), rgb(179, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(204, 255, 0), rgb(179, 255, 0)) !important;
}

.progress-70 {
  background-image: -moz-linear-gradient(rgb(179, 255, 0), rgb(154, 255, 0)) !important;
  background-image: linear-gradient(rgb(179, 255, 0), rgb(154, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(179, 255, 0), rgb(154, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(179, 255, 0), rgb(154, 255, 0)) !important;
}

.progress-75 {
  background-image: -moz-linear-gradient(rgb(154, 255, 0), rgb(129, 255, 0)) !important;
  background-image: linear-gradient(rgb(154, 255, 0), rgb(129, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(154, 255, 0), rgb(129, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(154, 255, 0), rgb(129, 255, 0)) !important;
}

.progress-80 {
  background-image: -moz-linear-gradient(rgb(129, 255, 0), rgb(103, 255, 0)) !important;
  background-image: linear-gradient(rgb(129, 255, 0), rgb(103, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(129, 255, 0), rgb(103, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(129, 255, 0), rgb(103, 255, 0)) !important;
}

.progress-85 {
  background-image: -moz-linear-gradient(rgb(103, 255, 0), rgb(78, 255, 0)) !important;
  background-image: linear-gradient(rgb(103, 255, 0), rgb(78, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(103, 255, 0), rgb(78, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(103, 255, 0), rgb(78, 255, 0)) !important;
}

.progress-90 {
  background-image: -moz-linear-gradient(rgb(78, 255, 0), rgb(53, 255, 0)) !important;
  background-image: linear-gradient(rgb(78, 255, 0), rgb(53, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(78, 255, 0), rgb(53, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(78, 255, 0), rgb(53, 255, 0)) !important;
}

.progress-95 {
  background-image: -moz-linear-gradient(rgb(53, 255, 0), rgb(28, 255, 0)) !important;
  background-image: linear-gradient(rgb(53, 255, 0), rgb(28, 255, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(53, 255, 0), rgb(28, 255, 0)) !important;
  background-image: -o-linear-gradient(rgb(53, 255, 0), rgb(28, 255, 0)) !important;
}

.progress-100 {
  background-image: -moz-linear-gradient(rgb(2, 200, 0), rgb(2, 150, 0)) !important;
  background-image: linear-gradient(rgb(2, 200, 0), rgb(2, 150, 0)) !important;
  background-image: -webkit-linear-gradient(rgb(2, 200, 0), rgb(2, 150, 0)) !important;
  background-image: -o-linear-gradient(rgb(2, 200, 0), rgb(2, 150, 0)) !important;
}

/*******************
 * VUE APP STYLING *
 *******************/

// Hide elements when being cloaked until it's loaded
[v-cloak] {
  display: none;
}

/*******************************
 * VUE SIMPLE PROGRESS STYLING *
 *******************************/

// Make sure the vue progress bar is show when used inside other components and use rounded corners
.vue-simple-progress {
  z-index: 0 !important;
  border: 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  .vue-simple-progress-bar {
    background-color: rgb(238, 238, 238);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  }
}

// Style progress bar in tablesorter reflow mode
@media (max-width: 48em) {
  .ui-table-reflow .vue-simple-progress {
    width: 50%;
    float: right;
  }
}

/***************************
 * VUE MULTISELECT STYLING *
 ***************************/

.multiselect {
  .multiselect__tag {
    background: #777777; // Bootstrap badge color

    &-icon {
      &:focus, &:hover {
        background: #333333;
      }
      &:after {
        color: #ffffff;
      }
    }
  }

  .multiselect__option--highlight {
    background: #777777; // Bootstrap badge color

    &:after {
      background: #777777; // Bootstrap badge color
    }
  }
}