#import autosubliminal

#from autosubliminal.utils import print_timestamp, humanize_bytes, get_free_space
#from autosubliminal.templates.PageTemplate import PageTemplate
#extends PageTemplate

#block bodyContent

<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">
            <span class="h3 weighted">Status</span>
        </div>

        <div class="panel-body">

            <span class="row h4 weighted">Scheduler</span>

            <table id="scheduler" class="table table-condensed table-striped table-hover tablesorter ui-table-reflow">

                <thead>
                <tr>
                    <th>Thread name</th>
                    <th>Last run</th>
                    <th>Running</th>
                </tr>
                </thead>

                <tbody>
                #for $item in $autosubliminal.THREADS.values()
                <tr>
                    <td class="main-column">$item.name</td>
                    <td>$print_timestamp($item.last_run)</td>
                    <td>$item.process.running</td>
                </tr>
                #end for
                </tbody>

            </table>

            <span class="row h4 weighted">Disk space</span>

            <table id="diskspace" class="table table-condensed table-striped table-hover tablesorter ui-table-reflow">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Free space</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="main-column">Auto-Subliminal path</td>
                    <td>$autosubliminal.PATH</td>
                    <td>$humanize_bytes($get_free_space($autosubliminal.PATH))</td>
                </tr>
                #for $path in $autosubliminal.VIDEOPATHS
                <tr>
                    <td class="main-column">Video path</td>
                    <td>$path</td>
                    <td>$humanize_bytes($get_free_space($path))</td>
                </tr>
                #end for
                </tbody>

            </table>

        </div>

    </div>

</div>

#end block bodyContent

#block footerContent

<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/status.js"></script>

#end block footerContent
