@import '../../../../scss/variables';
@import '../../../../scss/mixins/flexbox';

::ng-deep .dialog-file-browser {
  width: 50rem;

  .p-datatable .p-datatable-header {
    padding-left: 0; // remove padding from table header
    padding-right: 0; // remove padding from table header
  }
}

.caption {
  .label {
    font-weight: $font-bold;
  }

  .value {
    font-weight: $font-default;
  }
}

.col-type {
  @include flexbox;
  @include flex-grow(0 !important); // disable auto grow of primeng table
  @include flex-basis(auto !important); // disable auto grow primeng table
  width: 50px;
}

.col-name {
  width: 100%;
}
