#import autosubliminal

#from string import capwords

#from autosubliminal.templates.PageTemplate import PageTemplate
#extends PageTemplate

#block bodyContent

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="container">
                <div class="row">
                    <span class="h3 weighted">Log File</span>
                    <span class="pull-right">
                        #set $backup_count = $autosubliminal.utils.count_backup_logfiles()
                        <ul class="log-pagination">
                            #set $current_style = $lognum is None and 'badge selected' or 'badge'
                            <li class="log-page $current_style"><a href="$autosubliminal.WEBROOT/log/viewLog/$loglevel">current</a></li>
                            #for $num in $range($backup_count)
                                #set $index = $num + 1
                                #set $index_style = str($lognum) == str($index) and 'badge selected' or 'badge'
                                <li class="log-page $index_style"><a href="$autosubliminal.WEBROOT/log/viewLog/$loglevel/$index">$index</a></li>
                            #end for
                        </ul>
                        <span class="panel-title badge">$capwords($loglevel)</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
	        <pre class="pre-scrollable-x">
#if $message
$message
#else
There is currently no '$loglevel.lower()' information in your log file, make sure your loglevel is at least: $capwords($loglevel).
You can change the loglevel in your <a href="$autosubliminal.WEBROOT/config/logging">configuration</a>.
#end if
	        </pre>
        </div>
    </div>
</div>

#end block bodyContent
