<div class="container-lg">
  <p-panel header="Status">
    <!-- Schedulers section -->
    <div class="panel-section">
      <div class="panel-section-header">Schedulers</div>
      <p-table [value]="schedulers" [autoLayout]="true" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-responsive-mode">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name"><span>Name<p-sortIcon field="name"></p-sortIcon></span></th>
            <th pSortableColumn="active"><span>Active<p-sortIcon field="active"></p-sortIcon></span></th>
            <th pSortableColumn="alive"><span>Alive<p-sortIcon field="alive"></p-sortIcon></span></th>
            <th pSortableColumn="interval"><span>Interval<p-sortIcon field="interval"></p-sortIcon></span></th>
            <th pSortableColumn="lastRun"><span>Last run<p-sortIcon field="lastRun"></p-sortIcon></span></th>
            <th pSortableColumn="nextRun"><span>Next run<p-sortIcon field="nextRun"></p-sortIcon></span></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scheduler>
          <tr [ngClass]="{'scheduler-running': scheduler.running}">
            <td><span class="p-column-title">Name</span><span class="p-column-data">{{scheduler.name}}</span></td>
            <td><span class="p-column-title">Active</span><span class="p-column-data">{{scheduler.active}}</span></td>
            <td><span class="p-column-title">Alive</span><span class="p-column-data">{{scheduler.alive}}</span></td>
            <td><span class="p-column-title">Interval</span><span class="p-column-data">{{scheduler.intervalFormatted}}</span></td>
            <td><span class="p-column-title">Last Run</span><span class="p-column-data">{{scheduler.lastRunFormatted}}</span></td>
            <td><span class="p-column-title">Next run</span><span class="p-column-data">{{scheduler.running ? 'Running' : scheduler.nextRunFormatted}}</span></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- Paths section -->
    <div class="panel-section">
      <div class="panel-section-header">Paths</div>
      <p-table [value]="paths" [autoLayout]="true" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-responsive-mode">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name"><span>Name<p-sortIcon field="name"></p-sortIcon></span></th>
            <th pSortableColumn="path"><span>Path<p-sortIcon field="path"></p-sortIcon></span></th>
            <th pSortableColumn="freeBytes"><span>Free space<p-sortIcon field="freeBytes"></p-sortIcon></span></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pathInfo>
          <tr>
            <td><span class="p-column-title">Name</span><span class="p-column-data">{{pathInfo.name}}</span></td>
            <td><span class="p-column-title">Path</span><span class="p-column-data wrap-text">{{pathInfo.path}}</span></td>
            <td><span class="p-column-title">Free space</span><span class="p-column-data">{{pathInfo.freeSpaceFormatted}}<i *ngIf="pathInfo.freePercentage < 10" class="fa fa-exclamation-triangle text-danger ml-1" title="Low disk space"></i></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
</div>
