<div class="container-lg">
  <p-panel header="Log settings">
    <form *ngIf="settingsForm" [formGroup]="settingsForm" class="form">
      <!-- Log file -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logFile" class="label">Logfile name</label>
          <app-icon-dropdown>
            <li>The location and the name of the logfile.</li>
            <li>When not set, AutoSubliminal.log will be used.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="logFile" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Log level -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logLevel" class="label">Log level</label>
          <app-icon-dropdown>
            <li>The level of logging in the logfile.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="logLevel" [options]="logLevels" [validationFeedback]="saveAttempt"></app-input-dropdown>
        </div>
      </div>
      <!-- Log num -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logNum" class="label">Number of backup log files</label>
          <app-icon-dropdown>
            <li>The maximum number of backup log files.</li>
            <li>Use 0 for no backup log files.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-number formControlName="logNum" [min]="0" suffix=" file(s)"></app-input-number>
        </div>
      </div>
      <!-- Log size -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logSize" class="label">Log size</label>
          <app-icon-dropdown>
            <li>The maximum size of the log file(s) in MB.</li>
            <li>Use 0 for unlimited size.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-number formControlName="logSize" [min]="0" suffix=" MB"></app-input-number>
        </div>
      </div>
      <!-- Log http access -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logHttpAccess" class="label">Log HTTP access</label>
          <app-icon-dropdown>
            <li>When enabled, also http access calls will be logged.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="logHttpAccess" [options]="enabledOrDisabled"></app-input-dropdown>
        </div>
      </div>
      <!-- Log external libs -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logExternalLibs" class="label">Log external libs</label>
          <app-icon-dropdown>
            <li>When enabled, also external libs will be logged.</li>
            <li>This only works in combination with the 'Log detailed format' option.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="logExternalLibs" [options]="enabledOrDisabled"></app-input-dropdown>
        </div>
      </div>
      <!-- Log detailed format -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logDetailedFormat" class="label">Log detailed format</label>
          <app-icon-dropdown>
            <li>When enabled, the detailed log format will be used.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="logDetailedFormat" [options]="enabledOrDisabled"></app-input-dropdown>
        </div>
      </div>
      <!-- Log reversed -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logReversed" class="label">Log reversed</label>
          <app-icon-dropdown>
            <li>When enabled, the log output will be shown in reversed order (newest at the top) in the application.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="logReversed" [options]="enabledOrDisabled"></app-input-dropdown>
        </div>
      </div>
      <!-- Log level console -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="logLevelConsole" class="label">Console log level</label>
          <app-icon-dropdown>
            <li>The level of logging in the console output.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="logLevelConsole" [options]="logLevels" [validationFeedback]="saveAttempt"></app-input-dropdown>
        </div>
      </div>
      <!-- Button -->
      <div class="row button-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
          <p-button label="Save" (onClick)="save()"></p-button>
        </div>
      </div>
    </form>
  </p-panel>
</div>
