<div class="container-lg">
  <p-panel header="Webserver settings">
    <form *ngIf="settingsForm" [formGroup]="settingsForm" class="form">
      <!-- Warning notification -->
      <div class="row form-row">
        <div class="col-12 form-row-notification">
          <p-message severity="warning" text="Changing webserver settings will result in no automatic reload! You'll need to change the url manually in order to reload correctly!" styleClass="w-100"></p-message>
        </div>
      </div>
      <!-- Webserver ip -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="webServerIp" class="label">IP address</label>
          <app-icon-dropdown>
            <li>The webserver IP address.</li>
            <li>To allow hosts to connect to any IP address, use '0.0.0.0'.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="webServerIp" mask="IP" [dropSpecialCharacters]="false" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Webserver port -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="webServerPort" class="label">Port</label>
          <app-icon-dropdown>
            <li>The webserver port.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-number formControlName="webServerPort" [showButtons]="false" [validationFeedback]="saveAttempt"></app-input-number>
        </div>
      </div>
      <!-- Webroot -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="webRoot" class="label">Webroot</label>
          <app-icon-dropdown>
            <li>The webserver webroot for reverse proxying.</li>
            <li>Example: to proxy it to 'http://localhost/autosubliminal/' the webroot needs to be '/autosubliminal'.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="webRoot" [validationFeedback]="saveAttempt" (keyUpEvent)="formatWebRoot()"></app-input-text>
        </div>
      </div>
      <!-- Username -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="userName" class="label">Username</label>
          <app-icon-dropdown>
            <li>The username for the webserver authentication.</li>
            <li>If a username and password are set, the webserver requires authentication.</li>
            <li>Otherwise no authentication is set or required.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="userName" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Password -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="password" class="label">Password</label>
          <app-icon-dropdown>
            <li>The password for the webserver authentication.</li>
            <li>If a username and password are set, the webserver requires authentication.</li>
            <li>Otherwise no authentication is set or required.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="password" type="password" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Launch browser -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="launchBrowser" class="label">Launch browser</label>
          <app-icon-dropdown>
            <li>When enabled, the browser will start every time Auto-Subliminal starts.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="launchBrowser" [options]="enabledOrDisabled"></app-input-dropdown>
        </div>
      </div>
      <!-- Button -->
      <div class="row button-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
          <p-button label="Save" (onClick)="save()"></p-button>
        </div>
      </div>
    </form>
  </p-panel>
</div>
