<!DOCTYPE html>

#import autosubliminal

<html lang="en">

<head>

    #include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/layout/inc_header.tmpl")

    #block headerContent
    <!-- PLACEHOLER HEADERCONTENT -->
    #end block headerContent

</head>

<body>

#include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/layout/inc_menu.tmpl")

<div class="jumbotron jumbotron-global">

    <div class="jumbotron-body">

        <div id="stack-context" class="sticky-notification"></div>

        #block bodyContent
        <!-- PLACEHOLER BODYCONTENT -->
        #end block bodyContent

    </div>

    <div class="jumbotron-footer">

        #include $os.path.join($autosubliminal.PATH.encode(), "interface/templates/layout/inc_footer.tmpl")

        #block footerContent
        <!-- PLACEHOLER FOOTERCONTENT -->
        #end block footerContent

    </div>

</div>

</body>

</html>