<div class="container-lg">
  <p-panel header="Skipmapping settings">
    <form *ngIf="settingsForm" [formGroup]="settingsForm" class="form">
      <!-- Show settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">Show</span>
        </div>
      </div>
      <!-- Skip show mapping -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="skipShowMapping" class="label">Skip show mapping</label>
          <app-icon-dropdown>
            <li>The mapping to skip a show.</li>
            <li>Examples:</li>
            <li>Serie Name = 00 (this will skip the show 'Serie Name' completely</li>
            <li>Another Serie name = 1,5,6 (this will skip the show 'Another Serie Name' season 1, 5 and 6</li>
            <li>Show Name = 0,6,7 (this will skip the show 'Show Name' season 0 (specials), 6 and 7.</li>
            <li>00 is different then 0, 00 skips a show, 0 skips specials (season 0)</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-multi-text formControlName="skipShowMapping" [validationFeedback]="saveAttempt"></app-input-multi-text>
        </div>
      </div>
      <!-- Movie settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">Movie</span>
        </div>
      </div>
      <!-- Skip movie mapping -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="skipMovieMapping" class="label">Skip movie mapping</label>
          <app-icon-dropdown>
            <li>The mapping to skip a movie.</li>
            <li>Examples:</li>
            <li>Movie title (year) = 00</li>
            <li>Movie title 2 (year) = 00</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-multi-text formControlName="skipMovieMapping" [validationFeedback]="saveAttempt"></app-input-multi-text>
        </div>
      </div>
      <!-- Button -->
      <div class="row button-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
          <p-button label="Save" (onClick)="save()"></p-button>
        </div>
      </div>
    </form>
  </p-panel>
</div>
