<!-- Manual refine dialog -->
<p-dialog [(visible)]="visible"
          [modal]="true"
          [closable]="false"
          [resizable]="false"
          header="Manually refine item details"
          styleClass="dialog-manual-refine">
  <form *ngIf="itemForm" [formGroup]="itemForm" class="form">
    <div class="row form-row">
      <div class="col-12 col-sm-4 form-row-label">
        <label for="title" class="label">Title</label>
      </div>
      <div class="col-12 col-sm-8">
        <app-input-text formControlName="title" [validationFeedback]="updateAttempt"></app-input-text>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-12 col-sm-4 form-row-label">
        <label for="year" class="label">Year</label>
      </div>
      <div class="col-12 col-sm-8">
        <app-input-number formControlName="year" [showButtons]="false"></app-input-number>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-12 col-sm-4 form-row-label">
        <label for="season" class="label">Season</label>
      </div>
      <div class="col-12 col-sm-8">
        <app-input-number formControlName="season" [showButtons]="false"></app-input-number>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-12 col-sm-4 form-row-label">
        <label for="episode" class="label">Episode</label>
      </div>
      <div class="col-12 col-sm-8">
        <app-input-text formControlName="episode"></app-input-text>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-12 col-sm-4 form-row-label">
        <label for="source" class="label">Source</label>
      </div>
      <div class="col-12 col-sm-8">
        <app-input-text formControlName="source"></app-input-text>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-12 col-sm-4 form-row-label">
        <label for="codec" class="label">Codec</label>
      </div>
      <div class="col-12 col-sm-8">
        <app-input-text formControlName="codec"></app-input-text>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-12 col-sm-4 form-row-label">
        <label for="releaseGroup" class="label">Group</label>
      </div>
      <div class="col-12 col-sm-8">
        <app-input-text formControlName="releaseGroup"></app-input-text>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="btn-group">
      <p-button icon="pi pi-times" label="Cancel" styleClass="p-button p-button-secondary" (click)="close()"></p-button>
      <p-button icon="pi pi-undo" label="Reset" styleClass="p-button" (click)="resetWantedItem()"></p-button>
      <p-button icon="pi pi-check" label="Update" styleClass="p-button mr-0" (click)="updateWantedItem()"></p-button>
    </div>
  </ng-template>
</p-dialog>
