<!-- App layout (removed fixed if we don't want to have fixe header and footer) -->
<div *ngIf="systemAlive" class="app-layout fixed">
  <div class="app-header">
    <app-page-header></app-page-header>
  </div>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  <div class="app-footer">
    <app-page-footer></app-page-footer>
  </div>
</div>

<!-- Toast messages -->
<p-toast position="bottom-right"></p-toast>

<!-- System restart dialog -->
<p-dialog [(visible)]="systemRestartInProgress"
          [modal]="true"
          [closable]="false"
          [resizable]="false"
          [showHeader]="false">
  <div class="dialog-content">
    <h2>Auto-Subliminal is restarting...</h2>
    <br>
    <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true" title="Restarting..."></i>
  </div>
</p-dialog>

<!-- System shutdown dialog -->
<p-dialog [(visible)]="systemShutdownInProgress"
          [modal]="true"
          [closable]="false"
          [resizable]="false"
          [showHeader]="false">
  <div class="dialog-content">
    <h2>Auto-Subliminal is shutting down...</h2>
    <br>
    <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true" title="Shutting down..."></i>
  </div>
</p-dialog>

<!-- Connection interrupted dialog -->
<p-dialog [visible]="connectionInterrupted"
          [modal]="true"
          [closable]="false"
          [resizable]="false"
          [showHeader]="false">
  <div class="dialog-content">
    <h2>Connection interrupted</h2>
    <br>
    <i class="fa fa-ban fa-3x" aria-hidden="true" title="Connection interrupted"></i>
  </div>
</p-dialog>
