<p-table #wantedTable
         [value]="wantedItems"
         [stateKey]="tableStateKey"
         [loading]="loading"
         [autoLayout]="true"
         [rowHover]="true"
         [paginator]="true"
         [rows]="10"
         [rowsPerPageOptions]="[5,10,25,50,{showAll:'All'}]"
         [showCurrentPageReport]="true"
         [globalFilterFields]="globalFilterFields"
         [customSort]="true"
         (sortFunction)="sort($event)"
         stateStorage="local"
         currentPageReportTemplate="{first} to {last} of {totalRecords}"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-responsive-mode">
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="p-inputgroup dropdown">
        <span class="p-inputgroup-addon">Type</span>
        <p-dropdown [options]="videoTypes" inputId="wantedVideoTypes" (onChange)="wantedTable.filter($event.value, 'type', 'equals')"></p-dropdown>
      </div>
      <span class="ml-auto">
        <app-table-filter [table]="wantedTable" [tableStateKey]="tableStateKey" matchMode='contains'></app-table-filter>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name"><span>Name<p-sortIcon field="name"></p-sortIcon></span></th>
      <th pSortableColumn="season"><span>Season<p-sortIcon field="season"></p-sortIcon></span></th>
      <th pSortableColumn="episode"><span>Episode<p-sortIcon field="episode"></p-sortIcon></span></th>
      <th pSortableColumn="source"><span>Source<p-sortIcon field="source"></p-sortIcon></span></th>
      <th pSortableColumn="quality"><span>Quality<p-sortIcon field="quality"></p-sortIcon></span></th>
      <th pSortableColumn="codec"><span>Codec<p-sortIcon field="codec"></p-sortIcon></span></th>
      <th pSortableColumn="releaseGroup"><span>Group<p-sortIcon field="releaseGroup"></p-sortIcon></span></th>
      <th pSortableColumn="languages"><span>Lang<p-sortIcon field="languages"></p-sortIcon></span></th>
      <th pSortableColumn="timestamp"><span>Time<p-sortIcon field="timestamp"></p-sortIcon></span></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-wantedItem>
    <tr>
      <td>
        <span class="p-column-title">Name</span>
        <span class="p-column-data">
          <span class="dropdown">
            <a class="dropdown-toggle has-tip dropdown-link" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" title="Click for actions">{{wantedItem.name}}</a>
            <ul *ngIf="wantedItem.isEpisode" class="dropdown-menu has-tip">
              <li class="dropdown-item">
                <a (click)="postProcessWantedItem(wantedItem)">Post process show</a>
              </li>
              <li class="dropdown-item">
                <a (click)="deleteWantedItem(wantedItem)">Delete show</a>
              </li>
              <li class="dropdown-item">
                <a (click)="skipShow(wantedItem)">Skip show</a>
              </li>
            </ul>
            <ul *ngIf="wantedItem.isMovie" class="dropdown-menu has-tip">
              <li class="dropdown-item">
                <a (click)="postProcessWantedItem(wantedItem)">Post process movie</a>
              </li>
              <li class="dropdown-item">
                <a (click)="deleteWantedItem(wantedItem)">Delete movie</a>
              </li>
              <li class="dropdown-item">
                <a (click)="skipMovie(wantedItem)">Skip movie</a>
              </li>
            </ul>
          </span>
          <app-icon-dropdown>
            <li><span class="icon-dropdown-title">File name:</span><span>{{wantedItem.videoFileName}}</span></li>
            <li><span class="icon-dropdown-title">File path:</span><span>{{wantedItem.videoFilePath}}</span></li>
            <li><span class="icon-dropdown-title">File size:</span><span>{{wantedItem.videoFileSize}}</span></li>
          </app-icon-dropdown>
          <span class="icon-group">
            <ng-container *ngIf="wantedItem.isEpisode">
              <a *ngIf="!wantedItem.tvdbId" class="icon-link text-danger" (click)="searchIndexerId(wantedItem)">
                <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Click to search tvdb id"></i>
              </a>
              <a *ngIf="wantedItem.tvdbId" class="icon-link" [href]="getTvdbUrl(wantedItem)" target="_blank">
                <i class="fa fa-television" aria-hidden="true" title="Click to visit Tvdb"></i>
              </a>
              <a class="icon-link" (click)="openShowSettingsDialog(wantedItem)">
                <i class="fa fa-wrench" aria-hidden="true" title="Click to edit show settings"></i>
              </a>
            </ng-container>
            <ng-container *ngIf="wantedItem.isMovie">
              <a *ngIf="!wantedItem.imdbId" class="icon-link text-danger" (click)="searchIndexerId(wantedItem)">
                <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Click to search imdb id"></i>
              </a>
              <a *ngIf="wantedItem.imdbId" class="icon-link" [href]="getImdbUrl(wantedItem)" target="_blank">
                <i class="fa fa-imdb" aria-hidden="true" title="Click to visit Imdb"></i>
              </a>
              <a class="icon-link" (click)="openMovieSettingsDialog(wantedItem)">
                <i class="fa fa-wrench" aria-hidden="true" title="Click to edit movie settings"></i>
              </a>
            </ng-container>
            <ng-container *ngIf="manualRefineEnabled">
              <a class="icon-link" (click)="openManualRefineDialog(wantedItem)">
                <i class="fa fa-pencil" aria-hidden="true" title="Click to manually refine item details"></i>
              </a>
            </ng-container>
            <i *ngIf="wantedItem.isSearchActive" class="fa fa-check-circle text-success" aria-hidden="true" title="Included in automatic search"></i>
            <i *ngIf="!wantedItem.isSearchActive" class="fa fa-pause-circle text-warning" aria-hidden="true" title="Not included in automatic search"></i>
          </span>
        </span>
      </td>
      <td><span class="p-column-title">Season</span><span class="p-column-data">{{wantedItem.season}}</span></td>
      <td><span class="p-column-title">Episode</span><span class="p-column-data">{{wantedItem.episode}}</span></td>
      <td><span class="p-column-title">Source</span><span class="p-column-data">{{displayUpperCase(wantedItem.source)}}</span></td>
      <td><span class="p-column-title">Quality</span><span class="p-column-data">{{displayUpperCase(wantedItem.quality)}}</span></td>
      <td><span class="p-column-title">Codec</span><span class="p-column-data">{{displayUpperCase(wantedItem.codec)}}</span></td>
      <td><span class="p-column-title">Group</span><span class="p-column-data">{{displayUpperCase(wantedItem.releaseGroup)}}</span></td>
      <td>
        <span class="p-column-title">Lang</span>
        <span class="p-column-data">
          <span *ngFor="let language of wantedItem.languages" class="p-tag language mr-2"><a class="icon-link" (click)="goToManualSearch(wantedItem, language)" title="Click to search subtitles">{{language}}</a></span>
        </span>
      </td>
      <td><span class="p-column-title">Time</span><span class="p-column-data">{{wantedItem.timestampFormatted}}</span></td>
    </tr>
  </ng-template>
</p-table>

<!-- Show settings dialog -->
<app-show-settings *ngIf="showShowSettings"
                   [(visible)]="showShowSettings"
                   [tvdbId]="selectedWantedItem.tvdbId"
                   [title]="selectedWantedItem.name">
</app-show-settings>

<!-- Movie settings dialog -->
<app-movie-settings *ngIf="showMovieSettings"
                    [(visible)]="showMovieSettings"
                    [imdbId]="selectedWantedItem.imdbId"
                    [title]="selectedWantedItem.name">
</app-movie-settings>

<!-- Manual refine dialog -->
<app-manual-refine *ngIf="showManualRefine"
                   [(visible)]="showManualRefine"
                   [wantedItem]="selectedWantedItem"
                   (wantedItemChange)="updateWantedItemInList($event)">
</app-manual-refine>

<!-- Confirmation dialog -->
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <div class="confirmation-buttons">
      <div *ngIf="confirmationType === 'delete'" class="confirmation-cleanup-toggle">
        <span class="label">Cleanup leftovers</span>
        <p-inputSwitch [(ngModel)]="cleanupOnDelete"></p-inputSwitch>
      </div>
      <div *ngIf="confirmationType === 'skip'" class="confirmation-skip-season">
        <span class="label">Season(s)</span>
        <input type="text" pInputText [(ngModel)]="seasonToSkip">
      </div>
      <div>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
      </div>
    </div>
  </p-footer>
</p-confirmDialog>
