#import sys
#import os
#import platform

#import autosubliminal
#from autosubliminal import version
#from autosubliminal.enums import InstallType

#set current_branch = $autosubliminal.CHECKVERSION.process.current_branch
#set current_branch_url = $autosubliminal.CHECKVERSION.process.current_branch_url
#set current_version = $autosubliminal.CHECKVERSION.process.current_version
#set current_version_url = $autosubliminal.CHECKVERSION.process.current_version_url

<div class="form-horizontal">

    <div class="form-group section-title">
        <div class="col-xs-12 col-md-6">
            <span class="badge">General</span>
        </div>
    </div>

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>OS</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            $platform.platform()
        </span>
    </div>

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Version</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            #if $autosubliminal.CHECKVERSION.process.install_type == InstallType.SOURCE:
            #if $current_version_url:
            <a href="$current_version_url" target="_blank">$current_version</a>
            #else
            $current_version
            #end if
            #else
            $version.RELEASE_VERSION
            #end if
        </span>
    </div>

    #if $autosubliminal.CHECKVERSION.process.install_type == InstallType.GIT:
    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Git branch</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            #if $current_branch_url:
            <a href="$current_branch_url" target="_blank">$current_branch</a>
            #else
            $current_branch
            #end if
        </span>
    </div>
    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Git version</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            #if $current_version_url:
            <a href="$current_version_url" target="_blank">$current_version</a>
            #else
            $current_version
            #end if
        </span>
    </div>
    #end if

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Python version</label></span>
        <span class="col-xs-8 col-md-10 wrapped">$sys.version</span>
    </div>

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Python location</label></span>
        <span class="col-xs-8 col-md-10 wrapped">$os.path.dirname($sys.executable)</span>
    </div>

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Config file</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            #if $os.path.split($autosubliminal.CONFIGFILE)[0] == ''
            $os.path.join($autosubliminal.PATH, $autosubliminal.CONFIGFILE)
            #else
            $autosubliminal.CONFIGFILE
            #end if
        </span>
    </div>

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Database file</label></span>
        <span class="col-xs-8 col-md-10 wrapped">$os.path.join($autosubliminal.PATH, $autosubliminal.DBFILE)</span>
    </div>

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Log file</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            #if $os.path.split($autosubliminal.LOGFILE)[0] == ''
            $os.path.join($autosubliminal.PATH, $autosubliminal.LOGFILE)
            #else
            $autosubliminal.LOGFILE
            #end if
        </span>
    </div>

    <hr>

    <div class="form-group section-title">
        <div class="col-xs-12 col-md-6">
            <span class="badge">Links</span>
        </div>
    </div>


    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Source</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            <a href="$autosubliminal.GITHUBURL" target="_blank">$autosubliminal.GITHUBURL</a>
        </span>
    </div>

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Issues</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            <a href="$autosubliminal.GITHUBURL/issues" target="_blank">$autosubliminal.GITHUBURL/issues</a>
        </span>
    </div>

    <div class="form-group narrow">
        <span class="col-xs-4 col-md-2"><label>Wiki</label></span>
        <span class="col-xs-8 col-md-10 wrapped">
            <a href="$autosubliminal.GITHUBURL/wiki" target="_blank">$autosubliminal.GITHUBURL/wiki</a>
        </span>
    </div>

</div>