#import autosubliminal

#from autosubliminal.templates.PageTemplate import PageTemplate
#extends PageTemplate

#block bodyContent

<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">
            <span class="h3 weighted">Message</span>
        </div>

        <div class="panel-body">
            <div>
                <span>$message</span>
                <img src="$autosubliminal.WEBROOT/images/loading.gif" height="16" width="16" id="loading_img">
                <br><br>
                <span>If your page doesn't reload, click <a href='$autosubliminal.WEBROOT/home'>here</a></span>
            </div>
        </div>

    </div>

</div>

#end block bodyContent

#block footerContent

<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/restart.js"></script>

#end block footerContent