#import autosubliminal

#from autosubliminal.utils import display_timestamp, get_free_space, humanize_bytes
#from autosubliminal.templates.PageTemplate import PageTemplate
#extends PageTemplate

#block bodyContent

<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">
            <span class="h3 weighted">Status</span>
        </div>

        <div class="panel-body">

            <span class="row h4 weighted">Schedulers</span>

            <table id="scheduler" class="table table-condensed table-striped table-hover">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last run</th>
                    <th>Next run</th>
                    <th>Running</th>
                </tr>
                </thead>

                <tbody>
                #for $scheduler in $autosubliminal.SCHEDULERS.values()
                <tr>
                    <td class="main-column">$scheduler.name</td>
                    <td>$display_timestamp($scheduler.last_run)</td>
                    <td>$display_timestamp($scheduler.next_run)</td>
                    <td>$scheduler.running</td>
                </tr>
                #end for
                </tbody>

            </table>

            <span class="row h4 weighted">Disk space</span>

            <table id="diskspace" class="table table-condensed table-striped table-hover">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Free space</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="main-column">Auto-Subliminal path</td>
                    <td>$autosubliminal.PATH</td>
                    <td>$humanize_bytes($get_free_space($autosubliminal.PATH))</td>
                </tr>
                #for $index, $path in enumerate($autosubliminal.VIDEOPATHS)
                <tr>
                    #set $path_suffix = ''
                    #if $len($autosubliminal.VIDEOPATHS) > 1
                    #set $path_suffix = $index + 1
                    #end if
                    <td class="main-column">Video path $path_suffix</td>
                    <td>$path</td>
                    <td>$humanize_bytes($get_free_space($path))</td>
                </tr>
                #end for
                </tbody>

            </table>

        </div>

    </div>

</div>

#end block bodyContent

#block footerContent

<script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/status.js"></script>

#end block footerContent
