/*!
 * Auto-Subliminal css.
 */

/*********************
 * HTML BODY STYLING *
 *********************/

html, body {
    background-color: #eeeeee;
}

/********************
 * TEXTAREA STYLING *
 ********************/

textarea {
    resize: vertical;
}

/******************
 * NAVBAR STYLING *
 ******************/
nav {
    min-width: 380px; /* Make sure the navbar does not become higher when screensize is too low */
}

.navbar-footer-small {
    min-height: 0;
    padding: 5px 0px;
}

/*********************
 * JUMBOTRON STYLING *
 *********************/

.jumbotron-global {
    background-color: #eeeeee;
    margin-bottom: 0px;
    padding-top: 48px; /* Keep same bootstrap jumbotron padding when resizing screensize < 768px */
}

.jumbotron-body {
    background-color: #eeeeee;
}

.jumbotron-footer {
    background-color: #eeeeee;
}

/*********************
 * ICON LINK STYLING *
 *********************/

a:hover, a:active, a:focus, a:visited > .fa {
    text-decoration: none; /* Remove underline after icon on hover, active, focus and visited */
}

/********************
 * DROPDOWN STYLING *
 ********************/

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:visited {
    text-decoration: none; /* Remove underline after icon on hover, active, focus and visited */
}

/*************************
 * DROPDOWN MENU STYLING *
 *************************/

.dropdown-hoverintent {
    cursor: pointer;
}

.dropdown-menu.info-list {
    padding: 10px 10px;
    white-space: nowrap;
    font-weight: normal;
    font-style: italic;
}

.dropdown-menu.info-list .info-list-label {
    font-weight: bold;
    font-style: normal;
}

.dropdown-menu-inverse {
    background-color: #222222;
    border-color: #080808;
}

.dropdown-menu-inverse > li > a {
    color: #999999;
}

.dropdown-menu-inverse > li > a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.dropdown-menu-inverse > .divider {
    background-color: #000000;
}

.dropdown-menu.has-tip {
    margin-top: 8px;
}

.dropdown-menu.has-tip:before {
    position: absolute;
    top: -6px;
    left: 9px;
    content: "";
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.dropdown-menu.has-tip:after {
    position: absolute;
    top: -5px;
    left: 10px;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFFFFF;
    display: inline-block;
}

.dropdown-menu.has-tip.anchor-right:before {
    left: auto;
    right: 9px;
}

.dropdown-menu.has-tip.anchor-right:after {
    left: auto;
    right: 10px;
}

/*****************
 * MODAL STYLING *
 *****************/

.modal-dialog {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    width: 500px;
    height: 250px;
}

/***********************
 * FA-CHECKBOX STYLING *
 ***********************/

/* Usage: */
/*
<span class="fa-checkbox">
    <input type="checkbox" id="mycheckbox" checked>
    <label for="mycheckbox">check me</label>
</span>
*/

/* Hide the checkbox itself */
.fa-checkbox input[type=checkbox] {
    display: none;
}

/* Label styling */
.fa-checkbox input[type=checkbox] + label {
    font-weight: normal;
}

/* Unchecked icon styling */
.fa-checkbox input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    letter-spacing: 7px;
}

/* Checked icon styling */
.fa-checkbox input[type=checkbox]:checked + label:before {
    content: "\f046";
    letter-spacing: 5px;
}

/*******************
 * PNOTIFY STYLING *
 *******************/

.ui-pnotify.stack-context {
    position: static;
    /*center align*/
    margin-left: auto;
    margin-right: auto;
    text-wrap: none;
}

/***********************
 * TABLESORTER STYLING *
 ***********************/

table.tablesorter, table {
    border: 1px solid #dddddd;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 5px 17px 5px 4px;
}

table.tablesorter thead tr .tablesorter-header {
    /* black (unsorted) double arrow (with spacing!) */
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    /* background-image: url(../images/vendor/tablesorter/black-unsorted.gif); */
    background-repeat: no-repeat;
    background-position: center right;
    vertical-align: middle;
    cursor: pointer;
}

table.tablesorter thead tr .tablesorter-headerAsc {
    /* black asc arrow (with spacing!) */
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    /* background-image: url(../images/vendor/tablesorter/black-asc.gif); */
    background-color: #dddddd;
}

table.tablesorter thead tr .tablesorter-headerDesc {
    /* black desc arrow (with spacing!) */
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    /* background-image: url(../images/vendor/tablesorter/black-desc.gif); */
    background-color: #dddddd;
}

table.tablesorter thead tr .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}

table.tablesorter tbody td {
    border: 1px dotted #eeeeee;
}

.tablesorter-pager select {
    border-radius: 3px;
}

/* Copied from https://github.com/Mottie/tablesorter/blob/master/css/theme.default.css */
/***************************************************************************************/

/* Zebra Widget - row alternating colors */
.tablesorter-default tr.odd > td {
    background-color: #f9f9f9; /*Adapted colors to by inline with my style*/
}

.tablesorter-default tr.even > td {
    background-color: #FFFFFF; /*Adapted colors to by inline with my style*/
}

/* Needed to get the filtering working. */
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
    display: none;
}

/* End copy */

/* Copied from https://mottie.github.io/tablesorter/docs/example-widget-reflow.html#required_css */
/*************************************************************************************************/

/* REQUIRED CSS: change your reflow breakpoint here (35em below) */
@media ( max-width: 48em ) {

    /* uncomment out the line below if you don't want the sortable headers to show */
    /* table.ui-table-reflow thead { display: none; } */
    /* css for reflow & reflow2 widgets */
    .ui-table-reflow td,
    .ui-table-reflow th {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: right;
        /* if not using the stickyHeaders widget (not the css3 version)
         * the "!important" flag, and "height: auto" can be removed */
        width: 100% !important;
        height: auto !important;
    }

    /* reflow widget only */
    .ui-table-reflow tbody td[data-title]:before {
        color: #469;
        font-size: .9em;
        content: attr(data-title);
        float: left;
        width: 50%;
        white-space: pre-wrap;
        text-align: bottom;
        display: inline-block;
    }

    /* reflow2 widget only */
    table.ui-table-reflow .ui-table-cell-label.ui-table-cell-label-top {
        display: block;
        padding: .4em 0;
        margin: .4em 0;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: 400;
    }

    table.ui-table-reflow .ui-table-cell-label {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
    }
}

/* end media query */

/* reflow2 widget */
.ui-table-reflow .ui-table-cell-label {
    display: none;
}

/* End copy */

/*********************
 * FORMGROUP STYLING *
 *********************/

.form-group.narrow {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group.section-title {
    margin-top: 10px;
    margin-bottom: 15px;
}

.form-group .checkbox-inline.aligned {
    padding-top: 0px;
    margin-bottom: 5px;
}

/************************
 * MANUALSEARCH STYLING *
 ************************/

.container-manualsearch {
    width: 750px;
    text-align: center;
    margin: 0px;
}

.container-manualsearch .subtitle-action:hover, .container-manualsearch .subtitle-action:active, .container-manualsearch .subtitle-action:focus, .container-manualsearch .subtitle-action:visited {
    text-decoration: none; /* Remove underline after icon on hover, active, focus and visited */
}

.container-manualsearch .subtitle-preview {
    height: 100px;
    overflow: scroll;
}

.container-manualsearch-link {
    text-decoration: none !important;
    font-weight: bold;
    white-space: nowrap;
}

/*******************
 * GENERAL STYLING *
 *******************/

.datetime {
    min-width: 90px;
}

.img-notifier {
    height: 24px;
    width: 25px;
}

.main-column {
    /*color: inherit;*/
    font-weight: bold;
    text-decoration: none !important;
}

.no-padding {
    padding: 0px;
}

.no-padding-top {
    padding-top: 0px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.no-border-bottom {
    border-bottom: 0px none transparent;
}

.note {
    font-size: 80%;
    font-style: italic;
}

.pre-scrollable-x {
    word-wrap: normal;
    overflow-x: scroll;
}

.separator {
    padding: 0px 5px;
}

.sticky-notification {
    padding: 8px 0px 5px 0px;
}

.table-filter {
    text-align: center;
    margin-bottom: 5px;
}

/* Align table-filter on larger screens (same width as switch in bootstrap from xs to sm) */
@media (min-width: 768px) {
    .table-filter.left {
        text-align: left;
    }

    .table-filter.right {
        text-align: right;
    }
}

.table-filter input, .table-filter select {
    display: inline-block;
    width: auto;
}

.table-filter .table-filter-label {
    font-weight: bold;
}

.weighted {
    font-weight: 700;
}

.wrapped {
    word-wrap: break-word;
    word-break: break-all;
}

.log-pagination {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.log-pagination .log-page.badge {
    background-color: #ffffff;
    font-weight: normal;
}

.log-pagination .log-page.badge.selected {
    background-color: white;
    font-weight: bold;
    text-decoration: underline;
}

