@import '../../../../scss/variables';
@import '../../../../scss/mixins/flexbox';

.page-footer {
  border-top: 1px solid var(--surface-d);

  .container-lg {
    @include flexbox;
    @include justify-content(center);
    text-align: center;

    .separator {
      padding: 0 0.5rem;
    }

    .info {
      span {
        &:first-of-type {
          margin-right: 0.25rem;
        }
      }
    }

    @media screen and (max-width: $media-mobile-max-width) {
      .info {
        @include flexbox;
        @include flex-direction(column);
      }
    }
  }
}
