<!-- Scroll icons top page -->
<span class="scroll-icons top">
  <i class="fa fa-arrow-circle-down scroll-icon-bottom" [ngClass]="{'d-none': !scrollBottom}" aria-hidden="true" title="Scroll to bottom" (click)="scrollToBottom()"></i>
  <i class="fa fa-arrow-circle-up scroll-icon-top" [ngClass]="{'d-none': !scrollTop}" aria-hidden="true" title="Scroll to top" (click)="scrollToTop()"></i>
</span>

<!-- Scroll icons bottom page -->
<span class="scroll-icons bottom">
  <i class="fa fa-arrow-circle-down scroll-icon-bottom" [ngClass]="{'d-none': !scrollBottom}" aria-hidden="true" title="Scroll to bottom" (click)="scrollToBottom()"></i>
  <i class="fa fa-arrow-circle-up scroll-icon-top" [ngClass]="{'d-none': !scrollTop}" aria-hidden="true" title="Scroll to top" (click)="scrollToTop()"></i>
</span>
