.solidblockmenu ul{
margin: 0;
padding: 0;
float: left;
font: bold;
width: 100%;
border: 1px solid #625e00;
border-width: 1px 0;
background: grey url(../images/blockdefault.gif) center center repeat-x;
}

.solidblockmenu li{
display: inline;
}

.solidblockmenu li a{
float: left;
color: black;
padding: 9px 11px;
text-decoration: none;
}

.solidblockmenu li a:visited{
color: black;
}

.solidblockmenu li a:hover, .solidblockmenu li a.current{
color: white;
background: transparent url(../images/blockactive.gif) center center repeat-x;
}

.tabcontainer{
clear: left;
width:100%; /*width of 2nd level sub menus*/
height:20px; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

*:first-child+html .ieclass{ /*IE7 hack to remove gap between menu and sub contents*/
margin-top: -1em;
}

* html .ieclass{ /*IE6 and below hack to remove gap between menu and sub contents*/
margin-top: -1em;
}

.tabcontent{
display:none;
}

.tabcontent ul{
margin: 0;
padding: 0;
float: left;
font: bold;
height: 20px;
width: 100%;
border-bottom: 1px solid #625e00;
border-width: 1px 0;
background: black url(../images/blockdefault.gif) center center repeat-x;
-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75);
}

.tabcontent li{
display: inline;
}

.tabcontent li a{
float: left;
color: black;
padding: 3px 11px;
text-decoration: none;
}

.tabcontent li a:visited{
color: black;
}

.tabcontent li a:hover, .tabcontent li a.current{
color: white;
height: 15px;
background: transparent url(../images/blockactive.gif) center center repeat-x;
}