.table {
	clear: both;
	width: 100%;
	margin: 0 auto;
	text-decoration: none;

}

.table thead {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bcbcbc;
}

.table thead th:first-child {
	border-left: none;
	text-align: left;
}

.table thead th:last-child {
	border-right: none;
}

.table thead th {
	vertical-align: middle;
	padding: 8px 5px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c3c3c3;
	cursor: pointer;
}

.table thead th .language {
	vertical-align: middle;
	padding: 8px 5px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c3c3c3;
	cursor: pointer;
}


.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
	vertical-align: top;
	padding: 7px;
	border-left: 1px dotted #bebebe;
       text-decoration: none;

}

.table tbody td {
	background: #f8f8f8;
	text-decoration: none;

}

.table tbody th:first-child, .table tbody .th:first-child, .table tbody td:first-child, .table tfoot th:first-child, .table tfoot td:first-child {
	border-left: none;
		text-align: left;

}

.table tbody tr.even td, .table tbody tr:nth-child(2n) td {
	background: #f0f0f0;
}

.table tbody tr:hover th, .table tbody tr:hover .th, .table tbody tr:hover td {
	background: #e8eaef;
}