<div class="container-lg">
  <p-panel header="Postprocessing settings">
    <form *ngIf="settingsForm" [formGroup]="settingsForm" class="form">
      <!-- General settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">General</span>
        </div>
      </div>
      <!-- Post process -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="postProcess" class="label">Post-process</label>
          <app-icon-dropdown>
            <li>When enabled, the post processing command(s) will be executed.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="postProcess" [options]="enabledOrDisabled"></app-input-dropdown>
        </div>
      </div>
      <!-- Post process individual -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="postProcessIndividual" class="label">Individual</label>
          <app-icon-dropdown>
            <li>When enabled, the post processing will be executed after each subtitle download for a video.</li>
            <li>If disabled, the post processing will only be executed when all wanted subtitles are downloaded for a video.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="postProcessIndividual" [options]="enabledOrDisabled"></app-input-dropdown>
        </div>
      </div>
      <!-- Post process utf8 encoding -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="postProcessUtf8Encoding" class="label">UTF-8 encoding</label>
          <app-icon-dropdown>
            <li>When enabled, the post processing command(s) and argument(s) will be encoded in UTF-8.</li>
            <li>This means that the post processing script will need to decode the argument(s) from UTF-8.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-dropdown formControlName="postProcessUtf8Encoding" [options]="enabledOrDisabled"></app-input-dropdown>
        </div>
      </div>
      <!-- Show settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">Show</span>
        </div>
      </div>
      <!-- Show post process cmd -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="showPostProcessCmd" class="label">Post-process command</label>
          <app-icon-dropdown>
            <li>The command to run after downloading a subtitle for a show.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-file-browser formControlName="showPostProcessCmd" [validationFeedback]="saveAttempt"></app-input-file-browser>
        </div>
      </div>
      <!-- Show post process args -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="showPostProcessArgs" class="label">Post-process argument(s)</label>
          <app-icon-dropdown>
            <li>The argument(s) (separated by |) to pass to the command above after downloading a subtitle for a show.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="showPostProcessArgs" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Movie settings -->
      <div class="row form-row">
        <div class="col-12">
          <span class="p-tag p-tag-rounded p-tag-small">Movie</span>
        </div>
      </div>
      <!-- Movie post process cmd -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="moviePostProcessCmd" class="label">Post-process command</label>
          <app-icon-dropdown>
            <li>The command to run after downloading a subtitle for a movie.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-file-browser formControlName="moviePostProcessCmd" [validationFeedback]="saveAttempt"></app-input-file-browser>
        </div>
      </div>
      <!-- Movie post process args -->
      <div class="row form-row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 form-row-label">
          <label for="moviePostProcessArgs" class="label">Post-process argument(s)</label>
          <app-icon-dropdown>
            <li>The argument(s) (separated by |) to pass to the command above after downloading a subtitle for a movie.</li>
          </app-icon-dropdown>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <app-input-text formControlName="moviePostProcessArgs" [validationFeedback]="saveAttempt"></app-input-text>
        </div>
      </div>
      <!-- Button -->
      <div class="row button-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
          <p-button label="Save" (onClick)="save()"></p-button>
        </div>
      </div>
    </form>
  </p-panel>
</div>
