<!DOCTYPE html>

#import time

#import autosubliminal
#from autosubliminal import version
#from autosubliminal.db import LastDownloads
#from autosubliminal.utils import display_name, print_next_scheduler_run

<html>

<head>
    <title>Auto-Subliminal Mobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Jquery mobile themes -->
    <link rel="stylesheet" href="$autosubliminal.WEBROOT/css/jquery.mobile-1.4.5.css" media="screen">
    <link rel="stylesheet" href="$autosubliminal.WEBROOT/css/jquery.mobile.theme-1.4.5.css" media="screen">
    <!-- Jquery mobile javascript -->
    <script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="$autosubliminal.WEBROOT/scripts/jquery.mobile-1.4.5.js"></script>
</head>

<body>

<div data-role="page" data-add-back-btn="false">

    <div data-role="header" id="header">
        <a href="$autosubliminal.WEBROOT/system/runNow" data-role="button" data-icon="search" data-theme="b">Run now</a>
        <h1>Mobile</h1>
        <a href="#" onClick="window.location='$autosubliminal.WEBROOT/system/exitMobile'" data-role="button" data-theme="b">Exit Mobile</a>
    </div>

    <div data-role="content">
        <div data-role="collapsible-set" data-theme="b" data-content-theme="b">

            <div data-role="collapsible" data-collapsed="false">
                <h3>Wanted ($len($autosubliminal.WANTEDQUEUE))</h3>
                #if $len($autosubliminal.WANTEDQUEUE) >= 1
                <table class="ui-table">
                    <thead>
                    <tr>
                        <th>Show/Movie name</th>
                        <th>Lang</th>
                    </tr>
                    </thead>
                    #for $item in $autosubliminal.WANTEDQUEUE
                    <tr>
                        <td>
                            <span>$display_name($item, False)</span>
                            #if $item['type'] == 'episode':
                            <span>S$item['season'] E$item['episode']</span>
                            #end if
                        </td>
                        <td>
                            #for lang in $item['lang']
                            #set $imageurl = $autosubliminal.WEBROOT + "/images/flags/" + $lang + ".png"
                            <img src="$imageurl" alt="$lang" title="$lang">
                            #end for
                        </td>
                    </tr>
                    #end for
                </table>
                #end if
            </div>

            #set $lastdownloads = LastDownloads().get_last_downloads()
            <div data-role="collapsible">
                <h3>Last downloads ($len($lastdownloads))</h3>
                #if $len($lastdownloads) >= 1
                <table class="ui-table">
                    <thead>
                    <tr>
                        <th>Show/Movie</th>
                        <th>Lang</th>
                    </tr>
                    </thead>
                    #for $item in $lastdownloads
                    <tr>
                        <td>
                            <span>$display_name($item, False)</span>
                            #if $item['type'] == 'episode':
                            <span>S$item['season'] E$item['episode']</span>
                            #end if
                        </td>
                        <td>
                            #set $lang = $item['language']
                            #set $imageurl = $autosubliminal.WEBROOT + "/images/flags/" + $lang + ".png"
                            <img src="$imageurl" alt="$lang" title="$lang">
                        </td>
                    </tr>
                    #end for
                </table>
                #end if
            </div>

            <div data-role="collapsible">
                <h3>Information</h3>
                <table class="ui-table">
                    <tr>
                        <td>Next disc scan in</td>
                        <td>
                            $print_next_scheduler_run($autosubliminal.SCANDISK)
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>Next subtitle check in</td>
                        <td>
                            $print_next_scheduler_run($autosubliminal.CHECKSUB)
                            <br>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div data-role="footer" data-theme="b">
        <div class="ui-bar ui-title">
            Auto-Subliminal version : $version.RELEASE_VERSION.upper()
        </div>
    </div>

</div>

</body>

</html>
