#import autosub
#import time
#import cgi
#import urllib
#import re

#from autosub.Db import lastDown
#from autosub.version import autosubversion

<!DOCTYPE html>
<html>
	<head>
		<title>Auto-Sub Mini</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="$autosub.WEBROOT/mobile/css/jquery.mobile-1.0.min.css">
		<script type="text/javascript" src="$autosub.WEBROOT/mobile/scripts/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="$autosub.WEBROOT/mobile/scripts/jquery.mobile-1.0.min.js"></script>
		
	</head>

	<body>
		<div data-role="page" data-add-back-btn="false">
			<div data-role="header" id="header">
					
				<div style="position: absolute; top: 5px; left: 5px;">
					<a href="$autosub.WEBROOT/home/runNow" data-role="button" data-icon="search" data-theme="b">RunNow</a>
				</div>
				<h1>MINI</h1>
				<div style="position: absolute; top: 5px; right: 5px;">
					<a href="#" onClick="window.location='$autosub.WEBROOT/home/exitMini'" data-role="button" data-theme="b">Exit Mini</a>
				</div>
			</div>
			<div data-role="content">
				<div data-role="collapsible-set" data-theme="b" data-content-theme="b">

					<div data-role="collapsible" data-collapsed="false">
					<h3>WANTED</h3>
					<p>
					
#if $len($autosub.WANTEDQUEUE) >= 1
						<table class="table" width="100%">
							<thead>
							<tr>
								<th>SHOW NAME</th>
								<th>LANG</th>
							</tr>
							</thead>

#set $counter = 0
#for $var in $autosub.WANTEDQUEUE
#set $counter = $counter + 1

#set $title_escaped = $cgi.escape($var['title'], True)
							<tr>
								<td><b>
									<div style="position: relative; float: left; width: 60%;">$var['title'].upper()</div> <div style="position: relative; float: right;">S$var['season'] E$var['episode']</div>
								</b></td>
								<td align="center" width="50px">
							#for lang in $var['lang']
							#if lang == "nl"
								<img src="$autosub.WEBROOT/images/nl.png" alt="nl">
							#end if
							#if lang == "en"
								<img src="$autosub.WEBROOT/images/en.png" alt="en">
							#end if
							#end for
								</td>
							</tr>						
#end for
						</table>
#end if					
					</p>
					</div>
					
					<div data-role="collapsible">
					<h3>DOWNLOADED</h3>
					<p>
					
#set $lastdownload = lastDown().getlastDown()

#if $len($lastdownload) >= 1
    
						<table class="table">
							<thead>
							<tr>
								<th>SHOW NAME</th>
								<th>LANG</th>
							</tr>
							</thead>

#for $var in $lastdownload
							<tr>
								<td><b>
									<div style="position: relative; float: left; width: 60%;">$var['show_name'].upper()</div> <div style="position: relative; float: right;">S$var['season'] E$var['episode']</div>
								</b></td>
	
								<td align="center" width="50px">
									#set $imageurl = $autosub.WEBROOT + "/images/" + $var['language'] + ".png"
									<img src="$imageurl" alt="$var['language']" />
								</td>
								</tr>

#end for
							</table>

#end if
					
					</p>
					</div>

					<div data-role="collapsible" align="center">
					<h3>INFORMATION</h3>
					<p>
						<table border="0px" cellspacing="0px" cellpadding="0px">
							<tr>
								<td>NEXT RSSCHECK</td> 
								<td>
									#try
									  &nbsp;@&nbsp;$time.strftime('%H:%M:%S', $time.gmtime(($autosub.CHECKRSS.interval - ($time.time() - $autosub.CHECKRSS.lastrun) ))) <br>
									#except
									  &nbsp;@&nbsp;Please wait... <br>
									#end try
								</td>
							</tr>
							
							<tr>
								<td>NEXT SCANDISK</td>
								<td>
									#try
									  &nbsp;@&nbsp;$time.strftime('%H:%M:%S', $time.gmtime(($autosub.SCANDISK.interval - ($time.time() - $autosub.SCANDISK.lastrun) ))) <br>
									#except
									  &nbsp;@&nbsp;Please wait... <br>
									#end try
								</td>
							</tr>
							
							<tr>
								<td>NEXT CHECKSUB</td>
								<td>
									#try
									  &nbsp;@&nbsp;$time.strftime('%H:%M:%S', $time.gmtime(($autosub.CHECKSUB.interval - ($time.time() - $autosub.CHECKSUB.lastrun) ))) <br>
									#except
									  &nbsp;@&nbsp;Please wait... <br>
									#end try
								</td>
							</tr>
						</table>
					
					</p>
					</div>
					
				</div>
			</div>
			  <div data-role="footer" data-theme="b">
            <div class="ui-bar" align="center">
				$autosubversion.upper() - API CALLS LEFT: $autosub.APICALLS</div>
			</div>
		</div>
	</body>
</html>
