@import '../../../../scss/variables';
@import '../../../../scss/mixins/filter';

.log-num {

  .p-badge,
  .p-tag {
    margin-right: 0.5rem;
    cursor: pointer;

    &:hover {
      @include filter(brightness(125%));
    }
  }
}

.log-tail {
  margin-right: 0.5rem;
}

.log-content {
  overflow: auto;
  color: $font-color;
}
