<p-table #downloadedTable
         [value]="downloadedItems"
         [stateKey]="tableStateKey"
         [loading]="loading"
         [autoLayout]="true"
         [rowHover]="true"
         [paginator]="true"
         [rows]="10"
         [rowsPerPageOptions]="[5,10,25,50,{showAll:'All'}]"
         [showCurrentPageReport]="true"
         [globalFilterFields]="globalFilterFields"
         [customSort]="true"
         (sortFunction)="sort($event)"
         stateStorage="local"
         currentPageReportTemplate="{first} to {last} of {totalRecords}"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-responsive-mode">
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="p-inputgroup dropdown">
        <span class="p-inputgroup-addon">Type</span>
        <p-dropdown [options]="videoTypes" (onChange)="downloadedTable.filter($event.value, 'type', 'equals')"></p-dropdown>
      </div>
      <span class="ml-auto">
        <app-table-filter [table]="downloadedTable" [tableStateKey]="tableStateKey" matchMode='contains'></app-table-filter>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name"><span>Name<p-sortIcon field="name"></p-sortIcon></span></th>
      <th pSortableColumn="season"><span>Season<p-sortIcon field="season"></p-sortIcon></span></th>
      <th pSortableColumn="episode"><span>Episode<p-sortIcon field="episode"></p-sortIcon></span></th>
      <th pSortableColumn="source"><span>Source<p-sortIcon field="source"></p-sortIcon></span></th>
      <th pSortableColumn="quality"><span>Quality<p-sortIcon field="quality"></p-sortIcon></span></th>
      <th pSortableColumn="codec"><span>Codec<p-sortIcon field="codec"></p-sortIcon></span></th>
      <th pSortableColumn="releaseGroup"><span>Group<p-sortIcon field="releaseGroup"></p-sortIcon></span></th>
      <th pSortableColumn="languages"><span>Lang<p-sortIcon field="languages"></p-sortIcon></span></th>
      <th pSortableColumn="timestamp"><span>Time<p-sortIcon field="timestamp"></p-sortIcon></span></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-downloadedItem>
    <tr>
      <td>
        <span class="p-column-title">Name</span>
        <span class="p-column-data">
          <span>{{downloadedItem.name}}</span>
          <app-icon-dropdown>
            <li *ngIf="downloadedItem.videoFilePath"><span class="icon-dropdown-title">Video path:</span><span>{{downloadedItem.videoFilePath}}</span></li>
            <li *ngIf="downloadedItem.videoFileName"><span class="icon-dropdown-title">Video name:</span><span>{{downloadedItem.videoFileName}}</span></li>
            <li><span class="icon-dropdown-title">Subtitle:</span><span>{{downloadedItem.subtitle}}</span></li>
            <li><span class="icon-dropdown-title">Provider:</span><span>{{downloadedItem.provider}}</span></li>
          </app-icon-dropdown>
        </span>
      </td>
      <td><span class="p-column-title">Season</span><span class="p-column-data">{{downloadedItem.season}}</span></td>
      <td><span class="p-column-title">Episode</span><span class="p-column-data">{{downloadedItem.episode}}</span></td>
      <td><span class="p-column-title">Source</span><span class="p-column-data">{{displayUpperCase(downloadedItem.source)}}</span></td>
      <td><span class="p-column-title">Quality</span><span class="p-column-data">{{displayUpperCase(downloadedItem.quality)}}</span></td>
      <td><span class="p-column-title">Codec</span><span class="p-column-data">{{displayUpperCase(downloadedItem.codec)}}</span></td>
      <td><span class="p-column-title">Group</span><span class="p-column-data">{{displayUpperCase(downloadedItem.releaseGroup)}}</span></td>
      <td><span class="p-column-title">Lang</span><span class="p-column-data"><span class="p-tag language">{{downloadedItem.language}}</span></span></td>
      <td><span class="p-column-title">Time</span><span class="p-column-data">{{downloadedItem.timestampFormatted}}</span></td>
    </tr>
  </ng-template>
</p-table>
