<!-- Input number -->
<p-inputNumber [inputId]="id || formControlName"
               [formControl]="control"
               [mode]="mode"
               [useGrouping]="useGrouping"
               [step]="step"
               [min]="min"
               [max]="max"
               [suffix]="suffix"
               [showButtons]="showButtons"
               decrementButtonClass="p-button-outlined input-addon"
               incrementButtonClass="p-button-outlined input-addon"
               (onFocus)="onFocus($event)"
               (onKeyDown)="onKeyDown($event)"
               (onBlur)="onBlur($event)"
               class="w-100"
               styleClass="w-100"
               inputStyleClass="w-100">
</p-inputNumber>
