<!-- Input number -->
<p-inputNumber [id]="id || formControlName"
               [formControl]="control"
               [mode]="mode"
               [useGrouping]="useGrouping"
               [step]="step"
               [min]="min"
               [max]="max"
               [suffix]="suffix"
               [showButtons]="showButtons"
               decrementButtonClass="p-button-outlined input-addon"
               incrementButtonClass="p-button-outlined input-addon"
               styleClass="w-100">
</p-inputNumber>
