// Global variables (var(--xxxx)) are used from imported primeng styles

// Font
$font-size: 1rem;
$font-size-sm: ($font-size * .875) !default;
$font-bold: 500;
$font-color: var(--text-color);

// Background
$background-color: var(--surface-a);

//Media boundaries
$media-mobile-max-width: 767px;
$media-tablet-min-width: 768px;
$media-tablet-max-width: 991px;
$media-desktop-min-width: 992px;
