# Workflow for a python dependency change via pull request

name: Python dependency

on:
  pull_request:
    branches:
      - development
    paths:
      - pyproject.toml
      - poetry.lock

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dependency-python:

    defaults:
      run:
        shell: bash

    runs-on: windows-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }} # required for on:pull_request

    - name: Print concurrency group
      run: |
        echo "${{ github.workflow }}-${{ github.ref }}"

    - name: Set up python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9" # keep in sync with min required python version of application

    - name: Print python version
      run: |
        python --version

    - name: Setup poetry
      uses: snok/install-poetry@v1

    - name: Print poetry version
      run: |
        poetry --version

    - name: Install python dependencies
      run: |
        poetry install --no-interaction

    - name: Generate dependencies files
      working-directory: .build
      run: |
        ./generate-requirements.sh

    - name: Check changes
      id: check-changes
      run: |
        echo "Changed files:"
        git status --porcelain
        echo "Checking for real changes (ignoring line endings)"
        changes=$(if $(git diff --quiet); then echo "false"; else echo "true"; fi)
        echo "Changes detected: $changes"
        echo "changes=$changes" >> $GITHUB_OUTPUT

    - name: Commit changes
      if: ${{ steps.check-changes.outputs.changes == 'true' }}
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add --all
        git commit --message "Generate requirements files" --author "h3llrais3r <h3llrais3r.github@gmail.com>"
        git push

    - name: Add labels
      if: ${{ steps.check-changes.outputs.changes == 'true' }}
      uses: actions-ecosystem/action-add-labels@v1
      with:
        labels: "source changes"

    - name: Remove labels
      if: ${{ steps.check-changes.outputs.changes == 'false' }}
      uses: actions-ecosystem/action-remove-labels@v1
      with:
        labels: "source changes"
