<!-- File browser dialog -->
<p-dialog [(visible)]="visible"
          [modal]="true"
          [closable]="false"
          [resizable]="false"
          header="File browser"
          styleClass="dialog-file-browser">
  <!-- Selection -->
  <p-table [value]="fileBrowserFiles"
           [(selection)]="selectedFile"
           [scrollable]="true"
           (onRowSelect)="select()"
           selectionMode="single"
           scrollHeight="50vh"
           styleClass="p-datatable-sm p-datatable-striped">
    <ng-template pTemplate="caption">
      <div class="caption w-100">
        <input type="text" pInputText [formControl]="selectedFilePath" class="p-inputtext-sm w-100" placeholder="Select or type path">
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="col-type">Type</th>
        <th class="col-name">Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-file>
      <tr #rowElement [attr.data-id]="file.name" [pSelectableRow]="file">
        <td class="col-type">
          <i *ngIf="isFolder(file.type) && isFolderUp(file.name)" class="fa fa-level-up" aria-hidden="true" title="File"></i>
          <i *ngIf="isFolder(file.type) && !isFolderUp(file.name)" class="fa fa-folder-o" aria-hidden="true" title="Folder"></i>
          <i *ngIf="isFile(file.type)" class="fa fa-file-o" aria-hidden="true" title="File"></i>
        </td>
        <td class="col-name">{{file.name}}</td>
      </tr>
    </ng-template>
  </p-table>
  <!-- Buttons -->
  <ng-template pTemplate="footer">
    <div class="btn-group">
      <p-button icon="pi pi-times" label="Cancel" styleClass="p-button p-button-secondary" (click)="close()"></p-button>
      <p-button icon="pi pi-check" label="Ok" styleClass="p-button mr-0" (click)="selectFile()"></p-button>
    </div>
  </ng-template>
</p-dialog>
