@import '../../../scss/variables';
@import '../../../scss/mixins/linear-gradient';

.progress-bar-container {
  position: relative;
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid var(--surface-d);
  border-radius: 0.25rem;
  color: #fff;

  .progress-bar-text {
    position: absolute;
    left: 0;
    right: 0;
    color: #000000;
    text-align: center;
    font-size: $font-size-sm;
    margin: 0.0625rem;
  }

  .progress-bar-progress {
    min-width: 15%;
    min-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0.125rem 0 0 0.125rem;
  }
}

// Based on https://stackoverflow.com/questions/7128675/from-green-to-red-color-depend-on-percentage

.progress-0 {
  @include linear-gradient(rgb(100, 0, 0), rgb(200, 2, 0));
}

.progress-5 {
  @include linear-gradient(rgb(200, 2, 0), rgb(255, 28, 0));
}

.progress-10 {
  @include linear-gradient(rgb(255, 28, 0), rgb(255, 53, 0));
}

.progress-15 {
  @include linear-gradient(rgb(255, 53, 0), rgb(255, 78, 0));
}

.progress-20 {
  @include linear-gradient(rgb(255, 78, 0), rgb(255, 103, 0));
}

.progress-25 {
  @include linear-gradient(rgb(255, 103, 0), rgb(255, 129, 0));
}

.progress-30 {
  @include linear-gradient(rgb(255, 129, 0), rgb(255, 154, 0));
}

.progress-35 {
  @include linear-gradient(rgb(255, 154, 0), rgb(255, 179, 0));
}

.progress-40 {
  @include linear-gradient(rgb(255, 179, 0), rgb(255, 204, 0));
}

.progress-45 {
  @include linear-gradient(rgb(255, 204, 0), rgb(255, 230, 0));
}

.progress-50 {
  @include linear-gradient(rgb(255, 230, 0), rgb(255, 255, 0));
}

.progress-55 {
  @include linear-gradient(rgb(255, 255, 0), rgb(230, 255, 0));
}

.progress-60 {
  @include linear-gradient(rgb(230, 255, 0), rgb(204, 255, 0));
}

.progress-65 {
  @include linear-gradient(rgb(204, 255, 0), rgb(179, 255, 0));
}

.progress-70 {
  @include linear-gradient(rgb(179, 255, 0), rgb(154, 255, 0));
}

.progress-75 {
  @include linear-gradient(rgb(154, 255, 0), rgb(129, 255, 0));
}

.progress-80 {
  @include linear-gradient(rgb(129, 255, 0), rgb(103, 255, 0));
}

.progress-85 {
  @include linear-gradient(rgb(103, 255, 0), rgb(78, 255, 0));
}

.progress-90 {
  @include linear-gradient(rgb(78, 255, 0), rgb(53, 255, 0));
}

.progress-95 {
  @include linear-gradient(rgb(53, 255, 0), rgb(28, 255, 0));
}

.progress-100 {
  @include linear-gradient(rgb(2, 200, 0), rgb(2, 150, 0));
}
